<ng-container *ngLet="user$ | async as user">
    <ng-container *ngIf="user; else not_logged_in">
        <a mat-button [matMenuTriggerFor]="userMenu" #userMenuTrigger="matMenuTrigger">
            <mat-icon class="mat-icon-sm">person</mat-icon>
            <span fxShow="false" fxShow.gt-sm class="mx-1 uppercase">{{ 'account' | translate }}</span>
            <mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
        </a>
        <mat-menu #userMenu="matMenu" [overlapTrigger]="false" xPosition="before" class="app-menu-panel user-menu">
            <span>
                <div fxLayout="row" fxLayoutAlign="start center" class="user-info">
                    <img src="assets/images/others/user.jpg" alt="user-image" width="50" />
                    <p class="m-0">
                        {{ user.name }}
                    </p>
                </div>
                <div class="divider"></div>
                <a mat-menu-item [routerLink]="routePaths.submitProperty">
                    <mat-icon class="mat-icon-sm">add_circle</mat-icon>
                    <span>{{ 'submitProperty' | translate }}</span>
                </a>
                <a mat-menu-item [routerLink]="routePaths.myProperties">
                    <mat-icon class="mat-icon-sm">home</mat-icon>
                    <span>{{ 'myProperties' | translate }}</span>
                </a>
                <a mat-menu-item [routerLink]="routePaths.myFavorites">
                    <mat-icon class="mat-icon-sm">favorite_border</mat-icon>
                    <span
                        [matBadge]="5"
                        [matBadgeHidden]="false"
                        matBadgeSize="small"
                        matBadgeColor="warn"
                        matBadgeOverlap="false"
                        >{{ 'favorites' | translate }}</span
                    >
                </a>
                <a mat-menu-item [routerLink]="routePaths.compare">
                    <mat-icon class="mat-icon-sm">compare_arrows</mat-icon>
                    <span
                        [matBadge]="5"
                        [matBadgeHidden]="false"
                        matBadgeSize="small"
                        matBadgeColor="warn"
                        matBadgeOverlap="false"
                        >{{ 'compare' | translate }}</span
                    >
                </a>
                <a mat-menu-item [routerLink]="routePaths.home">
                    <mat-icon class="mat-icon-sm">search</mat-icon>
                    <span>{{ 'savedSearch' | translate }}</span>
                </a>
                <a mat-menu-item [routerLink]="routePaths.profile">
                    <mat-icon class="mat-icon-sm">edit</mat-icon>
                    <span>{{ 'editProfile' | translate }}</span>
                </a>
                <a mat-menu-item [routerLink]="routePaths.faq">
                    <mat-icon class="mat-icon-sm">help</mat-icon>
                    <span>{{ 'help' | translate }}</span>
                </a>
                <div class="divider"></div>
                <a mat-menu-item [routerLink]="routePaths.logout">
                    <mat-icon class="mat-icon-sm">power_settings_new</mat-icon>
                    <span>{{ 'signOut' | translate }}</span>
                </a>
            </span>
        </mat-menu>
    </ng-container>
    <ng-template #not_logged_in>
        <a mat-button [routerLink]="routePaths.login">
            <mat-icon class="mat-icon-sm">person</mat-icon>
            <span fxShow="false" fxShow.gt-sm class="mx-1 uppercase">{{ 'signIn' | translate }}</span>
        </a>
    </ng-template>
</ng-container>
