@import 'variables';

/******* Base styles *******/

html,
body {
    height: 100%;
    font-family: $font-family;
    font-size: 14px;
    line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $serif-font-family;
}

.transition {
    transition: 0.3s;
}

.theme-container {
    max-width: $theme-max-width;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.app-menu-panel {
    &.mat-menu-panel {
        min-width: 60px;

        .mat-menu-content:not(:empty) {
            padding: 0;
        }

        .mat-menu-item {
            display: flex;
            align-items: center;
            font-size: 12px;
            text-transform: uppercase;

            .mat-badge-small.mat-badge-above .mat-badge-content {
                top: 8px;
            }
        }
    }
}

.social-icon {
    display: inherit;
    color: inherit;

    svg.mat-icon.mat-icon-lg {
        height: 37px;
    }
}

.property-link {
    font-weight: bold;
    text-decoration: none;
    color: #558b2f;
}

/******* Material Icons *******/
.mat-icon-button .mat-icon.mat-icon-xs,
.mat-icon.mat-icon-xs {
    font-size: 1rem;
    line-height: 14px;
    height: 14px;
    width: 14px;
    vertical-align: middle;
}

.mat-icon-button .mat-icon.mat-icon-sm,
.mat-icon.mat-icon-sm,
.mat-nav-list .mat-list-item .mat-list-icon.mat-icon-sm {
    font-size: 1.3rem;
    line-height: 18px;
    height: 18px;
    width: 18px;
    vertical-align: middle;
}

.mat-icon-button .mat-icon.mat-icon-lg,
.mat-icon.mat-icon-lg {
    font-size: 36px;
    line-height: 36px;
    height: 36px;
    width: 36px;
    vertical-align: middle;
}

.mat-icon-button .mat-icon.mat-icon-xlg,
.mat-icon.mat-icon-xlg {
    font-size: 48px;
    line-height: 48px;
    height: 48px;
    width: 48px;
    vertical-align: middle;
}

.mat-icon.caret {
    width: 14px;
}

.mat-snack-bar-container {
    button {
        font-size: 30px;
    }
}

.sidenav .mat-drawer-inner-container {
    overflow-x: hidden;
}

.horizontal-menu {
    .mat-button {
        height: 38px;
        line-height: 38px;
        text-transform: uppercase;
    }
}

.horizontal-sub-menu {
    .mat-button {
        display: flex;
    }

    .mat-button,
    .mat-menu-item {
        height: 38px;
        line-height: 38px;
        font-weight: 500;
        text-transform: uppercase;
    }
}

/******* Header *******/
#main-toolbar {
    position: relative;
    height: $main-toolbar-height;
    transition: 0.2s;
    z-index: 9;
}

.top-toolbar.mat-toolbar {
    height: $top-toolbar-height;
    font-size: 12px;

    .v-divider {
        width: 1px;
        height: 26px;
        margin: 0 16px;
    }

    .mat-button {
        font-size: 12px;
        padding: 0 10px;
    }
}

.logo {
    img {
        display: block;
        width: auto;
        max-width: 100%;
    }

    svg {
        display: block;
    }
}

.user-menu {
    width: $user-menu-width;

    .user-info {
        padding: 16px;

        img {
            border-radius: 4px;
            margin-right: 16px;
        }
    }
}

.notification-menu {
    width: $notification-menu-width;

    &.mat-menu-panel {
        max-width: $notification-menu-width;
        .mat-menu-item {
            height: 56px;
            text-transform: none;
            font-size: 1rem;
            white-space: normal;
            line-height: 1.7;
        }
        mat-icon {
            font-size: 1.5rem;
        }
    }
}

.flag-name {
    margin-left: 4px;
}

header {
    &.toolbar-2 {
        .top-toolbar.mat-toolbar {
            height: auto;

            .mat-toolbar-row:first-child {
                height: $top-toolbar-height;

                .right-section {
                    height: $top-toolbar-height;
                }
            }

            .mat-toolbar-row:nth-child(2) {
                height: auto;
                font-size: 1rem;
                font-style: italic;
                padding-top: 8px;
                padding-bottom: $top-toolbar-height + 8px;

                .item {
                    width: 100%;
                    white-space: normal;
                    line-height: 1.5;
                    padding: 0 8px;
                }
            }
        }
    }

    &.has-bg-image {
        #main-toolbar {
            box-shadow: none;
        }

        &.main-toolbar-fixed {
            #main-toolbar {
                box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                    0 1px 5px 0 rgba(0, 0, 0, 0.12);
            }
        }

        &:not(.main-toolbar-fixed) {
            #main-toolbar {
                background: transparent !important;
            }
        }
    }
}

/******* Pages *******/
.main-content-header {
    position: relative;
    z-index: 2;
    margin-top: 24px;
    padding: 24px !important;
}

main.content-offset-to-top {
    .main-content-header {
        margin-top: -$main-content-header-offset-to-top;
    }
}

/******* APP *******/
.app {
    height: 100%;

    &.main-toolbar-fixed {
        #main-toolbar {
            position: fixed;
            top: 0;
            width: 100%;
        }

        .page-wrapper {
            padding-top: $main-toolbar-height;
        }
    }
}

/******* Properties *******/
.properties-wrapper {
    margin: 1rem -1rem;

    .item {
        padding: 1rem;
    }
}

.search-wrapper {
    margin: -8px;

    .mat-form-field {
        width: 100%;
    }

    &.variant-1 {
        .mat-form-field-wrapper {
            padding-bottom: 8px;
        }
    }

    &.variant-2 {
        .mat-form-field-wrapper {
            padding-bottom: 0;
        }
    }

    button {
        min-width: 120px;

        &.search-btn .mat-button-wrapper {
            display: flex;
            align-items: center;
            place-content: space-between;
            text-transform: uppercase;
        }
    }
}

/******* Comments *******/
.mat-list.reviews {
    &.mat-list-base .mat-list-item .mat-list-item-content {
        align-items: flex-start;
    }

    .mat-list-item .mat-list-avatar.review-author {
        width: 80px;
        height: 80px;
    }

    .mat-list-item .mat-line.text {
        white-space: unset;
        font-style: italic;
        margin: 10px 0 36px;
    }
}

.comment-form {
    margin: -16px;
    padding: 8px;
}

/******* Pricing *******/
.pricing-tabs.mat-tab-group {
    margin: 0 -8px;
}

.pricing-tabs.mat-tab-group .mat-tab-header {
    border-bottom: none !important;
    margin-bottom: 16px;
}

.pricing-card.mat-card {
    padding: 0;
    overflow: hidden;
    border-width: 4px 0 0 0;
    border-style: solid;

    .pricing-header {
        min-height: 126px;

        small {
            font-weight: normal;
        }
    }

    .del {
        text-decoration: line-through;
    }
}

/******* Account *******/
.account {
    .mat-drawer {
        width: 280px;
        border: 0 !important;
        box-shadow: none !important;
        background-color: transparent !important;

        .mat-drawer-inner-container {
            padding: 2px;
            height: 100%;
            box-sizing: border-box;

            .mat-card {
                height: 100%;
                box-sizing: border-box;
                overflow: hidden;

                a {
                    color: inherit;
                    text-decoration: none;
                }
            }

            button.close {
                position: absolute;
                top: 2px;
                right: 2px;
                z-index: 1;
            }
        }
    }

    .mat-drawer-content {
        padding: 2px;
        min-height: 400px;

        &.distance {
            padding-left: 16px;
        }
    }
}

.table-wrapper {
    display: block;
    overflow-x: auto;

    td.mat-cell,
    th.mat-header-cell {
        white-space: nowrap;
        padding: 16px;
    }

    a.property-name {
        color: inherit;
        text-decoration: none;
        font-weight: 500;
    }
}

/******* Footer *******/
footer {
    position: relative;
    overflow: hidden;
    background: rgba(33, 33, 33, 0.93);
    color: #fff;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-image: url('~assets/images/others/homepage.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .content {
        border-width: 0 0 1px 0;
        border-style: solid;

        .logo svg {
            fill: #fff;
        }

        .desc {
            color: rgba(255, 255, 255, 0.7);
        }

        .custom-form {
            .mat-form-field-appearance-outline .mat-form-field-outline {
                color: rgba(255, 255, 255, 0.3);
            }

            .mat-form-field-appearance-outline .mat-form-field-outline-thick {
                color: white;
            }

            .mat-form-field-label {
                color: rgba(255, 255, 255, 0.7);
            }

            .subscribe-input {
                .mat-form-field-wrapper {
                    padding: 0;
                    margin: 0;
                }

                .mat-form-field-infix {
                    top: -4px;
                }

                .mat-input-element {
                    &::placeholder {
                        color: rgba(255, 255, 255, 0.7);
                    }
                }
            }

            .subscribe-btn {
                margin-left: -4px;
                border-radius: 0 4px 4px 0;
                text-transform: uppercase;
            }
        }

        .sebm-google-map-container {
            height: 308px;
        }
    }

    .copyright {
        color: rgba(255, 255, 255, 0.7);
        font-size: 12px;

        p {
            margin: 0;
        }
    }
}

/******* Carousel *******/
button.swipe-arrow {
    position: absolute;
    top: 50%;
    margin-top: -22px;
    z-index: 10;
    background-image: none !important;

    &.transparent {
        background: transparent !important;
        box-shadow: none;
    }
}

.swiper-pagination.white .swiper-pagination-bullet {
    background: #fff;
}

.swiper-pagination-bullet-active {
    width: 10px;
    height: 10px;
    vertical-align: -1px;
}

.carousel-outer {
    margin: -2px;
    padding: 2px;
}

/******* Section *******/
.section {
    position: relative;
    overflow: hidden;
    padding: 40px 0;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.15;
    }

    &.testimonials {
        &:before {
            background-image: url('~assets/images/props/flat-1/3-big.jpg');
        }
    }

    &.agents {
        &:before {
            background-image: url('~assets/images/props/office-2/4-big.jpg');
        }
    }

    &.default {
        &:before {
            background-image: url('~assets/images/others/default-bg.png');
            background-repeat: repeat;
            background-size: 350px;
            background-position: center;
            opacity: 1;
        }
    }

    &.bg-grey {
        background: #f1f1f1;
    }

    .section-title {
        @extend .uppercase;
        @extend .text-center;
        @extend .text-3xl;
        @extend .mb-10;
        @extend .font-sans;
    }
}

/******* Landing Page *******/
.landing-page .logo svg {
    fill: #fff;
}

/******* Responsive *******/
// xs
@media screen and (max-width: 599px) {
    .single-property {
        .mat-drawer {
            width: 320px;
        }
    }
}

// sm
@media screen and (min-width: 600px) and (max-width: 959px) {
}

@media screen and (max-width: 959px) {
    .top-toolbar.mat-toolbar {
        padding: 0;
    }
    .all-properties {
        .search-sidenav {
            float: none;
            position: absolute;

            .mat-drawer-inner-container {
                padding: 0;

                .mat-card {
                    box-shadow: none;
                    border-radius: 0;
                }
            }
        }
    }
    .single-property,
    .account {
        .mat-drawer {
            .mat-drawer-inner-container {
                padding: 0;

                .mat-card {
                    box-shadow: none;
                    border-radius: 0;
                }
            }
        }
    }
    .submit-property .mat-step-label {
        display: none;
    }
}

// md
@media screen and (min-width: 960px) and (max-width: 1279px) {
}

// lg
@media screen and (min-width: 1280px) and (max-width: 1919px) {
}

// xlg
@media screen and (min-width: 1920px) and (max-width: 5000px) {
}

/* perfect-scrollbar */
.ps {
    touch-action: auto;
    overflow: hidden !important;
    -ms-overflow-style: none;
    position: relative;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ps {
        overflow: auto !important;
    }
}

.ps__rail-x {
    display: none;
    opacity: 0;
    transition: background-color 0.2s linear, opacity 0.2s linear;
    height: 9px;
    bottom: 0;
    position: absolute;
}

.ps__rail-y {
    display: none;
    opacity: 0;
    transition: background-color 0.2s linear, opacity 0.2s linear;
    width: 9px;
    right: 0;
    left: auto !important;
    position: absolute;
    z-index: 998;
}

.ps--active-x > .ps__rail-x,
.ps--active-y > .ps__rail-y {
    display: block;
    background-color: transparent;
}

.ps:hover > .ps__rail-x,
.ps:hover > .ps__rail-y,
.ps--focus > .ps__rail-x,
.ps--focus > .ps__rail-y,
.ps--scrolling-x > .ps__rail-x,
.ps--scrolling-y > .ps__rail-y {
    opacity: 0.6;
}

.ps__rail-x:hover,
.ps__rail-y:hover,
.ps__rail-x:focus,
.ps__rail-y:focus {
    background-color: #eee;
    opacity: 0.9;
}

.ps__thumb-x {
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color 0.2s linear, height 0.2s ease-in-out;
    height: 4px;
    bottom: 1px;
    position: absolute;
}

.ps__thumb-y {
    background-color: #aaa;
    border-radius: 6px;
    transition: background-color 0.2s linear, width 0.2s ease-in-out;
    width: 4px;
    right: 1px;
    position: absolute;
    z-index: 999;
}

.ps__rail-x:hover > .ps__thumb-x,
.ps__rail-x:focus > .ps__thumb-x {
    background-color: #999;
    height: 7px;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y {
    background-color: #999;
    width: 7px;
}

.call-to-actions {
    position: fixed;
    display: flex;
    align-self: flex-end;
    top: 50%;
    right: 10px;
    z-index: 2;
}

@supports (-ms-overflow-style: none) {
    .ps {
        overflow: auto !important;
    }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .ps {
        overflow: auto !important;
    }
}
