@import '~@angular/material/theming';
@import "variables";

$custom-typography: mat-typography-config(
    $font-family: $font-family,
);

@include mat-core($custom-typography);

@import 'theme-reset';
.app {
    @import 'skins/green';
    @include angular-material-theme($green-theme);
    @include theme-reset($green-theme);

    .mat-error,
    .mat-form-field-invalid .mat-form-field-outline-thick {
        color: rgba(244, 67, 54, 0.8) !important;
    }
}
