$font-family: Montserrat, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$serif-font-family: Gelasio, Georgia, Cambria, 'Times New Roman', Times, serif;
$theme-max-width: 1300px;
$top-toolbar-height: 36px;
$main-toolbar-height: 72px;
$user-menu-width: 220px;
$notification-menu-width: 400px;
$header-image-min-height: 320px;
$header-carousel-height: 460px;
$main-content-header-offset-to-top: 80px;

$main-sidenav-width: 250px;
$search-sidenav-width: 288px;

$customColors: (
    green: #00ca00,
);
