@import '~quill/dist/quill.snow.css';
.mat-form-field {
    @import 'app/theme/styles/skins/green';
    // Since the default quill styles already provide padding
    &-appearance-fill .mat-form-field {
        &-flex {
            padding: 0 !important;
        }

        &-infix {
            border-top: 0;
            padding: 0;
        }
    }

    .ql-container {
        // set quill caret to match current Angular Material theme
        caret-color: mat-color($primary, text);

        // Remove redundant quill snow-theme border
        &.ql-snow {
            border: none;
        }

        // Remove all default quill focus indicators
        .ql-editor {
            &:focus {
                border: none !important;
                box-shadow: none !important;
            }
        }
    }

    // make sure any quill tooltips, bubbles, or popups aren't occluded
    .ql-tooltip {
        z-index: 1;
    }
}

.ql-toolbar.ql-snow,
.ql-container {
    font-family: $font-family;
}
.ql-container {
    line-height: 1.7;
    font-size: unset;
}
.ql-editor {
    padding: 1rem;
    line-height: 1.7;
    min-height: 300px;
    .ql-font-serif {
        font-family: $serif-font-family;
    }
}
.ngx-quill-view-html {
    .ql-editor {
        padding: 0;
    }
}
