.notification-container {
    .swal2-popup {
        width: 30rem;
    }
}

.confirmation-container {
    .swal2-popup {
        width: 30rem;
    }
}

.notification-container,
.confirmation-container {
    .swal2-icon {
        font-size: 1rem;
    }

    .swal2-title {
        font-family: $font-family;
        font-size: 1.25rem;
    }

    .swal2-content {
        font-size: 1rem;
        line-height: 1.7;
    }

    .swal2-actions {
        font-size: 1rem;
    }
}
