mat-form-field {
    font-size: 1.5rem;
    ::ng-deep {
        input {
            letter-spacing: 0.75rem;
        }
    }

    .verification-code {
        ::ng-deep {
            input {
                letter-spacing: 1.75rem;
            }
        }
    }
}
