<div class="p-6">
    <div class="theme-container">
        <div fxLayout="row" fxLayoutAlign="center center" class="my-6">
            <mat-card [style.max-width.px]="600">
                <div fxLayout="column" fxLayoutAlign="center center" class="text-center mb-6">
                    <h1 class="uppercase">{{ 'accountContacts' | translate }}</h1>
                    <p class="text-muted">{{ 'phoneVerificationHint' | translate }}</p>
                </div>
                <form
                    fxLayout="row wrap"
                    [formGroup]="contactForm"
                    (ngSubmit)="onInfoFormSubmit()"
                    *ngLet="smsSendingStatus$ | async as smsSendingStatus"
                >
                    <div fxFlex="100" class="ml-2 mb-6">
                        <mat-hint align="start" [innerHTML]="'phoneNumberVerificationHint' | translate"></mat-hint>
                    </div>
                    <div fxFlex="100" class="px-2 mb-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>{{ 'phoneNumber' | translate }}</mat-label>
                            <input
                                matInput
                                [placeholder]="'phoneNumber' | translate"
                                formControlName="phone"
                                required
                                autocomplete="off"
                                prefix="(+84)"
                                mask="000-000-000"
                                [showMaskTyped]="true"
                            />

                            <mat-error *ngIf="contactForm.controls.phone.errors?.required">{{
                                'errorInputIsRequired' | translate
                            }}</mat-error>
                            <mat-error *ngIf="contactForm.controls.phone.hasError('minlength')">{{
                                'errorInputMinLength' | translate: { minLength: 10 }
                            }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" class="text-left px-2 mb-2">
                        <div id="recaptcha-placeholder"></div>
                        <button
                            mat-raised-button
                            color="primary"
                            type="button"
                            class="uppercase"
                            (click)="verifyRecaptcha()"
                            [disabled]="!contactForm.controls.phone.valid"
                            *ngIf="smsSendingStatus === sendingStatus.Pending"
                        >
                            <mat-icon>sms</mat-icon>
                            {{ 'sendSMSForVerification' | translate }}
                        </button>
                        <p class="text-muted flex items-center" *ngIf="smsSendingStatus === sendingStatus.Sending">
                            <span class="mr-2">{{ 'sending' | translate }}</span>
                            <mat-icon *ngIf="smsSendingStatus === sendingStatus.Sending"
                                ><mat-spinner color="accent" diameter="20"> </mat-spinner
                            ></mat-icon>
                        </p>
                        <p
                            class="text-muted"
                            *ngIf="smsSendingStatus === sendingStatus.Sent || smsSendingStatus === sendingStatus.Failed"
                            [innerHTML]="'tryAgainHint' | translate: { second: countDownTimer | async }"
                        ></p>
                    </div>
                    <div fxFlex="100" class="mt-6 px-2">
                        <mat-form-field appearance="outline" class="w-full verification-code">
                            <mat-label>{{ 'verificationCode' | translate }}</mat-label>
                            <input
                                matInput
                                [placeholder]="'verificationCode' | translate"
                                formControlName="verificationCode"
                                required
                                autocomplete="off"
                                mask="000000"
                                [showMaskTyped]="true"
                            />
                            <mat-error *ngIf="contactForm.controls.verificationCode.errors?.required">{{
                                'errorInputIsRequired' | translate
                            }}</mat-error>
                            <mat-error *ngIf="contactForm.controls.verificationCode.hasError('minlength')">{{
                                'errorInputMinLength' | translate: { minLength: 6 }
                            }}</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="50" class="text-left mt-2">
                        <button
                            mat-button
                            color="primary"
                            type="submit"
                            class="uppercase"
                            [routerLink]="routePaths.home"
                        >
                            <mat-icon>home</mat-icon>
                            {{ 'later' | translate }}
                        </button>
                    </div>
                    <div fxFlex="50" class="text-right mt-2">
                        <button
                            mat-raised-button
                            color="primary"
                            type="submit"
                            class="uppercase"
                            [disabled]="!contactForm.valid ? 'disabled' : undefined"
                        >
                            <mat-icon>update</mat-icon>
                            {{ 'update' | translate }}
                        </button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>
