mat-card {
    height: 100%;
    overflow: hidden;
    padding: 0 !important;
    .thumbnail-section {
        position: relative;
    }
    .mat-card-image {
        img {
            width: 100%;
            height: 250px;
            object-fit: cover;
        }
    }
    .property-status {
        position: absolute;
        z-index: 2;

        span {
            padding: 3px 6px;
            margin: 4px;
            font-size: 12px;
            color: #fff;
            font-weight: 500;
            text-transform: uppercase;
            border-radius: 4px;
        }
    }
    .title {
        font-size: 1.3rem;
        a {
            transition: 0.2s;
        }
    }
    .price {
        > div {
            display: block;
        }
    }
    .features p {
        span {
            &:first-child {
                float: left;
                padding: 0 0.4em 0 0;
            }
            + span {
                float: right;
                padding: 0 0 0 0.4em;
                font-weight: 500;
            }
        }
        &:after {
            content: '';
            display: block;
            overflow: hidden;
            height: 1em;
        }
    }

    .control-icons {
        position: absolute;
        z-index: 2;
        right: 2px;
        margin-top: -30px;
        button.mat-button {
            min-width: 26px;
            width: 26px;
            line-height: 26px;
            padding: 0;
            margin: 0 4px;
            background: rgba(255, 252, 252, 0.6);
            transition: 0.2s;
            color: rgba(0, 0, 0, 0.87);
            &:disabled {
                color: rgba(0, 0, 0, 0.26);
            }
            &:hover:enabled {
                background: rgba(255, 252, 252, 1);
            }
        }
    }

    &.column-3 {
        .address,
        .date,
        .price {
            font-size: 12px;
            .mat-icon {
                font-size: 1.3rem;
                width: 1.3rem;
                height: 1.3rem;
            }
        }
    }
}

@media screen and (max-width: 959px) {
    mat-card {
        .title {
            font-size: 1.3rem;
        }
        &.column-2 {
            .title {
                font-size: 1.3rem;
            }
        }
    }
}
