<mat-card
    ngClass.gt-lg="column-4"
    ngClass.lt-lg="column-3"
    ngClass.lt-md="column-2"
    ngClass.lt-sm=""
    fxLayout="column"
>
    <div fxFlex="100" fxShrink="3" class="thumbnail-section">
        <div fxLayout="row wrap" class="property-status">
            <span *ngFor="let status of property.statuses" [style.background-color]="getStatusBgColor(status.status)">{{
                status.status | appData: appDataType.PropertyStatus | translate
            }}</span>
        </div>
        <div *ngIf="property.files.length > 0" class="mat-card-image w-full m-0">
            <img [src]="'/static/images/' + property.files[0].fileName" [alt]="property.title" />
        </div>
        <div class="control-icons">
            <button
                mat-button
                [disabled]="onFavorites()"
                (click)="addToFavorites()"
                [matTooltip]="'addToFavorite' | translate"
            >
                <mat-icon class="mat-icon-sm">favorite_border</mat-icon>
            </button>
            <button
                mat-button
                [disabled]="onCompare()"
                (click)="addToCompare()"
                [matTooltip]="'addToCompare' | translate"
            >
                <mat-icon class="mat-icon-sm">compare_arrows</mat-icon>
            </button>
        </div>
    </div>
    <div fxFlex="100" class="px-2 py-3">
        <div fxLayout="column" fxLayoutAlign="start stretch" class="h-full">
            <mat-card-content class="mb-0">
                <div class="title font-sans font-semibold two-line">
                    <a class="no-underline" [routerLink]="[routePaths.properties, property.id + '-' + property.slug]">{{
                        property.title
                    }}</a>
                </div>

                <div fxLayout="row" class="address mt-2">
                    <mat-icon class="text-muted">location_on</mat-icon>
                    <span class="two-line ml-1">{{ property.fullLocation }}</span>
                </div>

                <div class="mt-2">
                    <div
                        fxLayout="column"
                        fxLayoutAlign="start start"
                        class="text-primary price font-semibold mb-2"
                        *ngFor="let status of property.statuses"
                    >
                        <div fxLayout="row" fxLayoutAlign="center center">
                            <mat-icon class="text-muted">local_offer</mat-icon>
                            <span class="ml-1"
                                >{{ status.price | mask: 'separator.0':',' }}
                                <ng-container *ngIf="status.status === 2">{{
                                    'perMonth' | translate
                                }}</ng-container></span
                            >
                        </div>
                    </div>
                </div>

                <div class="features mt-2" *ngIf="getPropertyMetadata(property, 'structure') as structures">
                    <p *ngIf="structures.area">
                        <span>{{ 'propertyArea' | translate }}</span
                        ><span>{{ structures.area }}</span>
                    </p>

                    <p *ngIf="structures.bedrooms">
                        <span>{{ 'bedrooms' | translate }}</span
                        ><span>{{ structures.bedrooms }}</span>
                    </p>

                    <p *ngIf="structures.bathrooms">
                        <span>{{ 'bathrooms' | translate }}</span
                        ><span>{{ structures.bathrooms }}</span>
                    </p>
                </div>
            </mat-card-content>
            <div class="sticky-footer-helper" fxFlex="grow"></div>
            <mat-card-actions class="m-0 p-0" fxLayoutAlign="space-between center">
                <p fxLayout="row" class="date mb-0">
                    <mat-icon class="text-muted">date_range</mat-icon>
                    <span class="mx-2">{{ property.publishedAt | date: 'dd.MM.yyyy' }}</span>
                </p>
                <div>
                    <a
                        [routerLink]="[routePaths.properties, property.id + '-' + property.slug]"
                        mat-stroked-button
                        color="primary"
                        class="uppercase"
                        >{{ 'details' | translate }}</a
                    >
                </div>
            </mat-card-actions>
        </div>
    </div>
</mat-card>
