.property-submit-status {
    padding: 3px 6px;
    margin: 4px;
    font-size: 12px;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    &.pending {
        background: #ffa000;
    }
    &.processing {
        background: #1e88e5;
    }
    &.active {
        background: #558b2f;
    }
    &.expired {
        background: #f44336;
    }
}
