<div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort class="w-full">
        <!-- Image Column -->
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>{{ 'thumbnail' | translate }}</th>
            <td mat-cell *matCellDef="let property">
                <img [src]="'/static/images/' + property.files[0].fileName" [style.width.px]="100" class="block" />
            </td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'status' | translate }}</th>
            <td mat-cell *matCellDef="let property">
                <a [routerLink]="[routePaths.properties, property.id + '-' + property.slug]" class="property-name">{{
                    property.title
                }}</a>
            </td>
        </ng-container>

        <!-- Published Column -->
        <ng-container matColumnDef="published">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'publishedAt' | translate }}</th>
            <td mat-cell *matCellDef="let property">
                {{ property.publishedAt | date: 'dd.MM.yyyy' }}
            </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'status' | translate }}</th>
            <td mat-cell *matCellDef="let property">
                <span class="property-submit-status {{ getPropertySubmitStatus(property) }}">
                    {{ getPropertySubmitStatus(property) | translate }}
                </span>
            </td>
        </ng-container>

        <!-- Views Column -->
        <ng-container matColumnDef="views">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'views' | translate }}</th>
            <td mat-cell *matCellDef="let property">{{ property.views }}</td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>{{ 'tools' | translate }}</th>
            <td mat-cell *matCellDef="let property">
                <a
                    (click)="editProperty(property)"
                    mat-icon-button
                    color="primary"
                    [matTooltip]="(isProcessingProperty(property) ? 'cannotEditPropertyHint' : 'edit') | translate"
                    [disabled]="isProcessingProperty(property) ? 'disabled' : undefined"
                >
                    <mat-icon>edit</mat-icon>
                </a>
                <a
                    *ngIf="isExpiredProperty(property)"
                    mat-icon-button
                    color="primary"
                    [matTooltip]="'refreshExpiredProperty' | translate"
                    (click)="reSubmitExpiredProperty(property)"
                >
                    <mat-icon>refresh</mat-icon>
                </a>

                <button
                    mat-icon-button
                    color="warn"
                    (click)="remove(property)"
                    [matTooltip]="'delete' | translate"
                    class="remove"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let property; columns: displayedColumns"></tr>
    </table>

    <p *ngIf="dataSource?.data.length === 0" class="py-10 mb-0 text-center">
        {{ 'dataNotAvailable' | translate }}
    </p>
</div>
