<div class="theme-container">
    <div class="text-muted text-2xl font-sans font-semibold mb-6">
        {{ 'accountDetails' | translate }}
    </div>
    <form fxLayout="row wrap" [formGroup]="infoForm" class="mb-10" (ngSubmit)="updateBasicInfo()">
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-2">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>{{ 'fullName' | translate }}</mat-label>
                <input
                    matInput
                    [placeholder]="'fullName' | translate"
                    formControlName="name"
                    required
                    autocomplete="off"
                />
                <mat-error *ngIf="infoForm.controls.name.errors?.required">{{
                    'errorInputIsRequired' | translate
                }}</mat-error>
                <mat-error *ngIf="infoForm.controls.name.hasError('minlength')">{{
                    'errorInputMinLength' | translate: { minLength: 3 }
                }}</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-2">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label>{{ 'email' | translate }}</mat-label>
                <input matInput [placeholder]="'email' | translate" formControlName="email" autocomplete="off" />
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="50" class="px-2">
            <mat-form-field appearance="outline" class="w-full">
                <mat-label
                    *ngIf="
                        infoControls['phone'].value && infoControls['phone'].value.length > 0;
                        else empty_phone_label
                    "
                    >{{ 'phone' | translate }}</mat-label
                >
                <ng-template #empty_phone_label>
                    <mat-label>{{ 'phoneNumberHint' | translate }}</mat-label>
                </ng-template>

                <input matInput formControlName="phone" autocomplete="off" mask="(+00) 000-000-000" />
                <div matSuffix fxLayout="row" class="items-center">
                    <mat-icon class="tick-icon mr-2" *ngIf="infoControls['isPhoneVerified']">done</mat-icon>
                    <button mat-flat-button color="primary" [routerLink]="routePaths.verifyAccount">
                        {{ 'change' | translate }}
                    </button>
                </div>
            </mat-form-field>
        </div>
        <div fxFlex="100" fxFlex.gt-xs="50" fxFlexOffset.gt-xs="50" class="text-right mt-2">
            <button mat-raised-button color="primary" type="submit" class="uppercase">
                {{ 'update' | translate }}
            </button>
        </div>
    </form>
    <div class="divider"></div>
    <div class="text-muted text-2xl font-sans font-semibold mt-4">
        {{ 'userAddress' | translate }}
    </div>
    <p class="text-muted mb-4">{{ 'userAddressHint' | translate }}</p>
    <form fxLayout="row wrap" [formGroup]="addressForm" class="mb-10" (ngSubmit)="updateUserAddress()">
        <div fxFlex="100" class="px-2">
            <mat-form-field appearance="outline" class="w-full">
                <mat-icon matPrefix class="mr-1 text-muted">location_on</mat-icon>
                <mat-label>{{ 'address' | translate }}</mat-label>
                <input
                    matInput
                    [placeholder]="'addressHint' | translate"
                    formControlName="location"
                    autocomplete="off"
                />
                <button
                    *ngIf="addressControls.location.value"
                    mat-button
                    matSuffix
                    mat-icon-button
                    (click)="addressControls.location.setValue(null)"
                    type="button"
                >
                    <mat-icon>close</mat-icon>
                </button>
                <mat-error *ngIf="addressControls.location.errors?.required">{{
                    'errorInputIsRequired' | translate
                }}</mat-error>
            </mat-form-field>
        </div>
        <ng-container *ngIf="(administrativeUnitsReady$ | async) === true">
            <app-administrative-units
                fxFlex="100"
                [parentForm]="addressForm"
                [isEditing]="isEditingAddress$ | async"
            ></app-administrative-units>
        </ng-container>

        <div fxFlex="100" fxFlex.gt-xs="50" fxFlexOffset.gt-xs="50" class="text-right mt-2">
            <button mat-raised-button color="primary" type="submit" class="uppercase">
                {{ 'update' | translate }}
            </button>
        </div>
    </form>
</div>
