<div class="p-3">
    <div class="theme-container">
        <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
            <mat-card [style.max-width.px]="500">
                <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
                    <h1 class="uppercase">{{ 'signIn' | translate }}</h1>
                    <a mat-button [routerLink]="routePaths.register" color="accent" class="w-full">{{
                        'dontHaveAnAccount' | translate
                    }}</a>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="onLoginFormSubmit()">
                    <mat-form-field appearance="outline" class="w-full mt-2">
                        <mat-icon matPrefix class="mr-1 text-muted">person</mat-icon>
                        <mat-label>{{ 'email' | translate }}</mat-label>
                        <input matInput placeholder="Email" formControlName="email" required />
                        <mat-error *ngIf="loginForm.controls.email.errors?.required">{{
                            'errorInputIsRequired' | translate
                        }}</mat-error>
                        <mat-error *ngIf="loginForm.controls.email.hasError('email')">{{
                            'errorInputFormatIsIncorrect' | translate: { input: 'Email' }
                        }}</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-full mt-1">
                        <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon>
                        <mat-label>{{ 'password' | translate }}</mat-label>
                        <input
                            matInput
                            [placeholder]="'password' | translate"
                            formControlName="password"
                            required
                            [type]="hide ? 'password' : 'text'"
                        />
                        <mat-error *ngIf="loginForm.controls.password.errors?.required">{{
                            'errorInputIsRequired' | translate
                        }}</mat-error>
                        <mat-error *ngIf="loginForm.controls.password.hasError('minlength')">{{
                            'errorInputMinLength' | translate: { minLength: 6 }
                        }}</mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
                            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    </mat-form-field>
                    <div class="text-center mt-2">
                        <button mat-raised-button color="accent" class="uppercase" type="submit">
                            {{ 'signIn' | translate }}
                        </button>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="space-between center" class="mt-3">
                        <div class="divider w-full"></div>
                        <div class="text-muted whitespace-no-wrap font-semibold p-2">
                            {{ 'socialSignIn' | translate }}
                        </div>
                        <div class="divider w-full"></div>
                    </div>
                    <div class="text-center py-3">
                        <button
                            mat-mini-fab
                            color="primary"
                            matTooltip="Facebook"
                            type="button"
                            (click)="startOAuth(oAuthProvider.Facebook)"
                            class="mr-2"
                        >
                            <svg class="mat-icon" viewBox="0 0 24 24">
                                <path
                                    d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z"
                                />
                            </svg>
                        </button>
                        <button
                            mat-mini-fab
                            color="primary"
                            matTooltip="Google"
                            type="button"
                            (click)="startOAuth(oAuthProvider.Google)"
                        >
                            <svg class="mat-icon" viewBox="0 0 24 24">
                                <path
                                    d="M21.35,11.1H12.18V13.83H18.69C18.36,17.64 15.19,19.27 12.19,19.27C8.36,19.27 5,16.25 5,12C5,7.9 8.2,4.73 12.2,4.73C15.29,4.73 17.1,6.7 17.1,6.7L19,4.72C19,4.72 16.56,2 12.1,2C6.42,2 2.03,6.8 2.03,12C2.03,17.05 6.16,22 12.25,22C17.6,22 21.5,18.33 21.5,12.91C21.5,11.76 21.35,11.1 21.35,11.1V11.1Z"
                                />
                            </svg>
                        </button>
                    </div>
                </form>
                <mat-card-actions fxLayoutAlign="end center">
                    <button mat-button [routerLink]="routePaths.forgotPassword">
                        <mat-icon class="text-muted">vpn_key</mat-icon>
                        <span class="mx-1">{{ 'resetPassword' | translate }}</span>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
