<div class="p-3">
    <div class="theme-container">
        <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
            <mat-card [style.max-width.px]="500">
                <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
                    <h1 class="uppercase">{{ 'resetPassword' | translate }}</h1>
                </div>
                <form [formGroup]="resetPasswordForm" (ngSubmit)="submitResetPassword()">
                    <mat-form-field appearance="outline" class="w-full mt-2">
                        <mat-icon matPrefix class="mr-1 text-muted">person</mat-icon>
                        <mat-label>{{ 'email' | translate }}</mat-label>
                        <input matInput [placeholder]="'email' | translate" formControlName="email" required />
                        <mat-error *ngIf="resetControls.email.errors?.required">{{
                            'errorInputIsRequired' | translate
                        }}</mat-error>
                        <mat-error *ngIf="resetControls.email.hasError('email')">{{
                            'errorInputFormatIsIncorrect' | translate: { input: 'Email' }
                        }}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full mt-2">
                        <mat-icon matPrefix class="mr-1 text-muted">person</mat-icon>
                        <mat-label>{{ 'confirmationCode' | translate }}</mat-label>
                        <input
                            matInput
                            [placeholder]="'confirmationCode' | translate"
                            formControlName="token"
                            required
                        />
                        <mat-error *ngIf="resetControls.token.errors?.required">{{
                            'errorInputIsRequired' | translate
                        }}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" class="w-full mt-1">
                        <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon>
                        <mat-label>{{ 'password' | translate }}</mat-label>
                        <input
                            matInput
                            [placeholder]="'password' | translate"
                            formControlName="password"
                            type="password"
                            minlength="6"
                            required
                            [type]="hide ? 'password' : 'text'"
                        />
                        <mat-error *ngIf="resetControls.password.errors?.required">{{
                            'errorInputIsRequired' | translate
                        }}</mat-error>
                        <mat-error *ngIf="resetControls.password.hasError('minlength')">{{
                            'errorInputMinLength' | translate: { minLength: 6 }
                        }}</mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
                            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="w-full mt-1">
                        <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon>
                        <mat-label>{{ 'confirmPassword' | translate }}</mat-label>
                        <input
                            matInput
                            [placeholder]="'confirmPassword' | translate"
                            formControlName="confirmPassword"
                            type="password"
                            required
                            [type]="hide ? 'password' : 'text'"
                        />
                        <mat-error *ngIf="resetControls.confirmPassword.errors?.required">{{
                            'errorInputIsRequired' | translate
                        }}</mat-error>
                        <mat-error *ngIf="resetControls.confirmPassword.hasError('mismatchedPasswords')">{{
                            'errorInputIsNotMatched' | translate
                        }}</mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
                            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                    </mat-form-field>

                    <div class="text-center mt-2">
                        <button mat-raised-button color="accent" class="uppercase" type="submit">
                            {{ 'resetPassword' | translate }}
                        </button>
                    </div>
                </form>
            </mat-card>
        </div>
    </div>
</div>
