<ng-container>
    <h2 mat-dialog-title>{{ notification.type | appData: appDataType.NotificationTypeTitle | translate }}</h2>
    <mat-dialog-content class="mat-typography" fxLayout="column">
        <div fxLayout="row" class="mb-3">
            <div fxFlex="30">
                {{ 'contactName' | translate }}
            </div>
            <div fxFlex="70">
                {{ parsedMessage.name }}
            </div>
        </div>
        <div fxLayout="row" class="mb-3">
            <div fxFlex="30">
                {{ 'phone' | translate }}
            </div>
            <div fxFlex="70" class="mb-3">
                {{ parsedMessage.phone }}
            </div>
        </div>
        <div fxLayout="row" class="mb-3">
            <div fxFlex="30">
                {{ 'email' | translate }}
            </div>
            <div fxFlex="70">
                {{ parsedMessage.email }}
            </div>
        </div>
        <div fxLayout="row" class="mb-3">
            <div fxFlex="30">
                {{ 'message' | translate }}
            </div>
            <div fxFlex="70">
                {{ parsedMessage.message }}
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>{{ 'cancel' | translate }}</button>
    </mat-dialog-actions>
</ng-container>
