<app-header-image
    [backgroundImage]="'assets/images/others/contact.jpg'"
    [bgImageAnimate]="false"
    [contentOffsetToTop]="true"
    [title]="'Contact Us'"
    [desc]="'Got a question? We\'ll give you straight answer'"
>
</app-header-image>

<div class="px-6">
    <div class="theme-container">
        <mat-card class="main-content-header mb-10">
            <div fxLayout="row wrap" fxLayoutAlign="space-around">
                <div fxFlex="100" fxFlex.gt-xs="33.3">
                    <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
                        <mat-icon color="primary" class="mat-icon-lg">home</mat-icon>
                        <div class="text-primary font-sans text-lg font-semibold py-1">ADDRESS :</div>
                        <span>2903 Avenue Z, Brooklyn, New York City</span>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="33.3" ngClass.xs="mt-2">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-icon color="primary" class="mat-icon-lg">call</mat-icon>
                        <div class="font-sans text-lg font-semibold text-primary py-1">PHONES :</div>
                        <span>(212) 457-2308</span>
                        <span>(212) 457-2309</span>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-xs="33.3" ngClass.xs="mt-2">
                    <div fxLayout="column" fxLayoutAlign="center center">
                        <mat-icon color="primary" class="mat-icon-lg">mail_outline</mat-icon>
                        <div class="font-sans text-lg font-semibold text-primary py-1">E-MAIL :</div>
                        <span>contact@housekey.com</span>
                        <span>info@housekey.com</span>
                    </div>
                </div>
                <div class="divider w-full mt-6"></div>
                <div class="w-full font-sans text-xl font-semibold text-center py-6">CONTACT US</div>

                <form [formGroup]="contactForm" (ngSubmit)="onContactFormSubmit(contactForm.value)" fxLayout="row wrap">
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Name</mat-label>
                            <input matInput placeholder="Name" formControlName="name" required />
                            <mat-error *ngIf="contactForm.controls.name.errors?.required">Name is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="Email" formControlName="email" required />
                            <mat-error *ngIf="contactForm.controls.email.errors?.required">Email is required</mat-error>
                            <mat-error *ngIf="contactForm.controls.email.hasError('invalidEmail')"
                                >Invalid email address</mat-error
                            >
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="33.3" class="px-1" ngClass.sm="mt-1" ngClass.xs="mt-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Phone</mat-label>
                            <input matInput placeholder="Phone" formControlName="phone" required />
                            <mat-error *ngIf="contactForm.controls.phone.errors?.required">Phone is required</mat-error>
                        </mat-form-field>
                    </div>
                    <div fxFlex="100" class="px-1 mt-1">
                        <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Message</mat-label>
                            <textarea
                                matInput
                                placeholder="Message"
                                formControlName="message"
                                required
                                rows="7"
                            ></textarea>
                            <mat-error *ngIf="contactForm.controls.message.errors?.required"
                                >Message is required</mat-error
                            >
                        </mat-form-field>
                    </div>
                    <div class="w-full py-2 text-center">
                        <button mat-raised-button color="primary" type="submit" class="uppercase">
                            Submit
                        </button>
                    </div>
                </form>
            </div>

            <div class="mt-10 contact-map">
                <!--                <agm-map-->
                <!--                    [latitude]="lat"-->
                <!--                    [longitude]="lng"-->
                <!--                    [zoom]="zoom"-->
                <!--                    [mapTypeControl]="true"-->
                <!--                    [fullscreenControl]="true"-->
                <!--                >-->
                <!--                    <agm-marker [latitude]="lat" [longitude]="lng" [markerDraggable]="false"></agm-marker>-->
                <!--                </agm-map>-->
                <!--                // TODO: Display a map here for contact location-->
            </div>
        </mat-card>
    </div>
</div>
