<div class="section mt-6">
    <div class="px-6">
        <div class="theme-container">
            <h1 class="section-title">Featured properties</h1>

            <!--            <app-properties-carousel [properties]="featuredProperties"></app-properties-carousel>-->
        </div>
    </div>
</div>
