@import '~sanitize.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~swiper/css/swiper.css';
@import '~sweetalert2/src/sweetalert2';
@import '~@sweetalert2/theme-material-ui/material-ui';
@import '~leaflet/dist/leaflet.css';

@import 'app/theme/styles/utilities/font-family';
@import 'app/theme/styles/utilities/display';
@import 'app/theme/styles/utilities/font-size';
@import 'app/theme/styles/utilities/font-weight';
@import 'app/theme/styles/utilities/text-align';
@import 'app/theme/styles/utilities/text-transform';
@import 'app/theme/styles/utilities/text-mixed';
@import 'app/theme/styles/utilities/flex';
@import 'app/theme/styles/utilities/height';
@import 'app/theme/styles/utilities/width';
@import 'app/theme/styles/utilities/margin';
@import 'app/theme/styles/utilities/padding';

@import 'app/theme/styles/spinner';
@import 'app/theme/styles/base';
@import 'app/theme/styles/theme';
@import 'app/theme/styles/notification';
@import 'app/theme/styles/editor';

.swiper-button-prev:after,
.swiper-container-rtl .swiper-button-next:after,
.swiper-button-next:after,
.swiper-container-rtl .swiper-button-prev:after {
    content: unset;
}
.mat-mini-fab {
    .mat-button-wrapper {
        line-height: 22px !important;
    }
}

.mat-input-element {
    line-height: 1.5;
}
