<mat-card fxLayout="row" fxLayoutAlign="space-between center" class="w-full p-2 filter-row mat-elevation-z1 text-muted">
    <div class="call-to-actions" fxShow="false" fxShow.lt-md="true">
        <button mat-fab color="accent" (click)="toggleSidenav()">
            <mat-icon>more_vert</mat-icon>
        </button>
    </div>

    <div>
        <a mat-button [matMenuTriggerFor]="sortMenu" #sortMenuTrigger="matMenuTrigger">
            {{ sort | translate }}<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
        </a>
        <mat-menu #sortMenu="matMenu" xPosition="before" overlapTrigger="true">
            <span (mouseleave)="sortMenuTrigger.closeMenu()">
                <button mat-menu-item *ngFor="let sort of sortOptions" (click)="changeSortOption(sort)">
                    <span>{{ sort | translate }}</span>
                </button>
            </span>
        </mat-menu>
    </div>
    <div fxShow="false" fxShow.gt-xs>
        <!-- <span *ngIf="isHomePage"> -->
        <a mat-button [matMenuTriggerFor]="countsMenu" #countsMenuTrigger="matMenuTrigger">
            {{ 'show' | translate: { count: count } }}<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
        </a>
        <mat-menu #countsMenu="matMenu" xPosition="before" overlapTrigger="true">
            <span (mouseleave)="countsMenuTrigger.closeMenu()">
                <button mat-menu-item *ngFor="let count of counts" (click)="changeCount(count)">
                    <span>{{ count }}</span>
                </button>
            </span>
        </mat-menu>
    </div>
</mat-card>
