.compare-carousel {
    .compare-toolbar {
        min-height: 72px;
        button.swipe-arrow {
            position: relative;
            margin-top: 0;
            right: 0;
            left: 0;
            z-index: 2;
        }
    }
}
.compare-item {
    .remove {
        position: absolute;
        right: 0;
        top: 0;
    }
    .title {
        text-align: center;
        a {
            transition: 0.2s;
            text-decoration: none;
        }
    }
    .address {
        font-size: 12px;
    }
    .details {
        .item {
            padding: 8px 0;
            span:first-child {
                margin-right: 8px;
                font-weight: 500;
                min-width: 114px;
            }
            .list {
                span {
                    font-weight: normal;
                    min-width: auto;
                    &:not(.last):after {
                        content: ',';
                    }
                    &.last:after {
                        content: none;
                    }
                }
            }
        }
    }
}
