<div class="header-image-wrapper" dir="ltr">
    <div class="bg" [style.background-image]="bgImage" [class.bg-anime]="bgImageAnimate"></div>
    <div class="mask"></div>

    <div
        class="header-image-content text-center"
        fxLayout="column"
        fxLayoutAlign="center center"
        [class.offset-bottom]="contentOffsetToTop"
        [class.home-page]="isHomePage"
        [style.min-height.px]="contentMinHeight"
    >
        <div class="text-5xl uppercase font-semibold font-sans" *ngIf="title">{{ title }}</div>
        <p *ngIf="desc" class="text-2xl">{{ desc }}</p>
        <div *ngIf="isHomePage" ngClass.gt-xs="mt-6" ngClass.xs="mt-3">
            <a mat-raised-button [routerLink]="routePaths.aboutUs">{{ 'aboutUs' | translate }}</a>
            <a mat-raised-button [routerLink]="routePaths.contact">{{ 'contact' | translate }}</a>
        </div>
    </div>
</div>
