@import 'apps/app/src/app/theme/styles/variables';

.header-image-wrapper {
    position: relative;
    overflow: hidden;
    .header-image-content {
        position: relative;
        min-height: $header-image-min-height;
        color: #fff;
        z-index: 1;
        &.offset-bottom {
            padding-bottom: $main-content-header-offset-to-top;
            min-height: $header-image-min-height + $main-content-header-offset-to-top;
        }
        &.home-page {
            min-height: $header-image-min-height + $main-content-header-offset-to-top + 80px;
        }
        .title {
            font-size: 48px;
            text-transform: uppercase;
            padding: 0 16px;
            text-align: center;
        }
        .desc {
            margin: 0;
            font-size: 24px;
            font-style: italic;
            padding: 0 16px;
            text-align: center;
        }
        .mat-raised-button {
            color: rgba(0, 0, 0, 0.87);
            background-color: white;
            text-transform: uppercase;
            margin: 0 4px;
        }
    }
    .mask {
        background: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .bg {
        width: 110%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    .bg-anime {
        animation-name: MOVE-BG;
        animation-duration: 15s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}
@keyframes MOVE-BG {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-7%);
    }
}

// xs
@media screen and (max-width: 599px) {
    .header-image-wrapper {
        .header-image-content {
            min-height: $header-image-min-height - 80px;
            &.offset-bottom {
                min-height: $header-image-min-height + $main-content-header-offset-to-top - 80px;
            }
            &.home-page {
                min-height: $header-image-min-height + $main-content-header-offset-to-top;
            }
            .title {
                font-size: 24px;
            }
            .desc {
                font-size: 16px;
            }
        }
    }
}

// sm
@media screen and (min-width: 600px) and (max-width: 959px) {
    .header-image-wrapper {
        .header-image-content {
            min-height: $header-image-min-height - 40px;
            &.offset-bottom {
                min-height: $header-image-min-height + $main-content-header-offset-to-top - 40px;
            }
            &.home-page {
                min-height: $header-image-min-height + $main-content-header-offset-to-top + 40px;
            }
            .title {
                font-size: 36px;
            }
            .desc {
                font-size: 1.3rem;
            }
        }
    }
}
