<mat-sidenav-container>
    <mat-sidenav [opened]="false" position="start" mode="over" #sidenav class="sidenav mat-elevation-z6">
        <div class="block mt-3"><app-logo></app-logo></div>
        <div class="divider my-5"></div>

        <div perfectScrollbar class="vertical-menu-wrapper">
            <app-vertical-menu [menuParentId]="0"></app-vertical-menu>
        </div>
    </mat-sidenav>

    <mat-sidenav-content class="page-wrapper" fxLayout="column" fxLayoutAlign="start stretch">
        <header>
            <app-toolbar (onMenuIconClick)="sidenav.toggle()"></app-toolbar>
        </header>

        <main>
            <router-outlet></router-outlet>
        </main>

        <div class="sticky-footer-helper" fxFlex="grow"></div>

        <app-footer></app-footer>

        <div
            *ngIf="showBackToTop"
            fxLayout="row"
            fxLayoutAlign="center center"
            class="back-to-top"
            (click)="scrollToTop()"
        >
            <mat-icon>arrow_upward</mat-icon>
        </div>
    </mat-sidenav-content>
    <mat-sidenav #rightSidenav position="end" class="sidenav mat-elevation-z6 p-0">
        <ng-container #content></ng-container>
    </mat-sidenav>
</mat-sidenav-container>
