@import '../theme/styles/variables';

.sidenav {
    width: 350px;
    padding: 8px 16px;
    .divider {
        margin: 8px 0;
    }
    .vertical-menu-wrapper {
        height: calc(100% - 122px);
    }
}

.options {
    position: fixed;
    width: 270px;
    z-index: 999999;
    .op-header {
        height: 64px;
        padding: 0 14px;
    }
    .control {
        padding: 6px 14px;
        div {
            padding: 6px 0;
        }
        h4 {
            border-bottom: 1px solid #ccc;
            margin: 12px 0 6px 0;
        }
        .skin-primary {
            width: 24px;
            height: 24px;
            padding: 0;
            overflow: hidden;
            cursor: pointer;
            .skin-secondary {
                width: 0;
                height: 0;
                padding: 0;
                border-bottom: 24px solid;
                border-left: 24px solid transparent;
            }

            background-color: #689f38;
            border: 1px solid #689f38;
        }
    }
    .mat-radio-group {
        display: inline-flex;
        flex-direction: column;
        .mat-radio-button {
            margin: 2px 0;
        }
    }
    .mat-slide-toggle {
        height: auto;
    }
    .ps {
        height: calc(100% - 64px);
    }
}
.op-image {
    box-shadow: 0 0 2px #ccc;
    border: 2px solid;
    border-color: transparent;
    cursor: pointer;
    transition: 0.2s;
}
.options-icon {
    position: fixed;
    top: 200px;
    right: 0;
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    cursor: pointer;
    z-index: 99999;
    .mat-icon {
        animation: spin 8s linear infinite;
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.back-to-top {
    position: fixed;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 999999;
    right: 20px;
    bottom: 20px;
    opacity: 0.5;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.75);
    border-radius: 50%;
    transition: 0.3s;
    &:hover {
        opacity: 0.9;
    }
}

@media only screen and (max-width: 767px) {
    .sidenav {
        width: 300px;
    }
}
