<mat-toolbar id="top-toolbar" class="top-toolbar mat-toolbar-single-row">
    <div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayoutAlign="start center">
            <span fxHide="false" fxHide.gt-sm>
                <button mat-button (click)="sidenavToggle()">
                    <mat-icon>menu</mat-icon>
                </button>
            </span>
            <app-contacts fxLayout="row" fxLayoutAlign="start center" fxShow="false" fxShow.gt-sm></app-contacts>
        </div>
        <div fxLayout="row" fxLayoutAlign="end center" class="">
            <app-user-menu></app-user-menu>
        </div>
    </div>
</mat-toolbar>
<mat-toolbar id="main-toolbar" class="mat-elevation-z2 mat-toolbar-single-row">
    <div class="theme-container" fxLayout="row" fxLayoutAlign="space-between center">
        <a class="logo" [routerLink]="routePaths.home"><app-logo></app-logo></a>
        <div fxShow="false" fxShow.gt-sm class="horizontal-menu">
            <app-horizontal-menu [menuParentId]="0"></app-horizontal-menu>
        </div>
        <div fxLayout="row" fxLayoutAlign="start center">
            <app-notification-menu></app-notification-menu>
            <a
                [routerLink]="routePaths.myFavorites"
                mat-icon-button
                [matTooltip]="'favorite' | translate"
                fxShow="false"
                fxShow.gt-md
            >
                <mat-icon matBadge="5" [matBadgeHidden]="false" matBadgeSize="small" matBadgeColor="warn"
                    >favorite_border</mat-icon
                >
            </a>
            <a
                [routerLink]="routePaths.compare"
                mat-icon-button
                [matTooltip]="'compare' | translate"
                fxShow="false"
                fxShow.gt-md
                class="mr-3 ml-2"
            >
                <mat-icon matBadge="5" [matBadgeHidden]="false" matBadgeSize="small" matBadgeColor="warn"
                    >compare_arrows</mat-icon
                >
            </a>
            <a [routerLink]="routePaths.submitProperty" mat-mini-fab color="primary" fxHide="false" fxHide.gt-xs
                ><mat-icon>add</mat-icon></a
            >
            <a
                [routerLink]="routePaths.submitProperty"
                mat-raised-button
                color="primary"
                fxShow="false"
                fxShow.gt-xs
                class="uppercase"
                >{{ 'submitProperty' | translate }}</a
            >
        </div>
    </div>
</mat-toolbar>
