@import '../../../styles/mixins';

.menu-expand-icon {
    position: absolute;
    right: 10px;
    top: 10px;
}

.menu-item {
    .mat-button {
        width: 100%;
        font-weight: 400;
        text-transform: uppercase;
        height: 50px;
        &.expanded {
            .menu-expand-icon {
                transform: rotate(180deg);
            }
        }
    }
    .mat-button-wrapper {
        padding-left: 16px;
    }
}

.sub-menu {
    @include menu-level-padding();
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-out;
    .mat-button {
        padding-left: 36px;
    }
    &.show {
        max-height: 500px;
        transition: max-height 0.25s ease-in;
    }
}
