<div class="p-3">
    <div class="theme-container">
        <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
            <mat-card [style.max-width.px]="500" *ngLet="isSuccess$ | async as isSuccess">
                <ng-container *ngIf="!isSuccess; else form_submitted">
                    <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
                        <h1 class="uppercase">{{ 'register' | translate }}</h1>
                        <a mat-button [routerLink]="routePaths.login" color="accent" class="w-full">{{
                            'alreadyHadAnAccount' | translate
                        }}</a>
                    </div>
                    <form [formGroup]="registerForm" (ngSubmit)="onRegisterFormSubmit()">
                        <mat-form-field appearance="outline" class="w-full mt-2">
                            <mat-icon matPrefix class="mr-1 text-muted">person</mat-icon>
                            <mat-label>{{ 'fullName' | translate }}</mat-label>
                            <input matInput [placeholder]="'fullName' | translate" formControlName="name" required />
                            <mat-error *ngIf="registerForm.controls.name.errors?.required">{{
                                'errorInputIsRequired' | translate
                            }}</mat-error>
                            <mat-error *ngIf="registerForm.controls.name.hasError('minlength')">{{
                                'errorInputMinLength' | translate: { minLength: 6 }
                            }}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full mt-1">
                            <mat-icon matPrefix class="mr-1 text-muted">email</mat-icon>
                            <mat-label>{{ 'email' | translate }}</mat-label>
                            <input matInput [placeholder]="'email' | translate" formControlName="email" required />
                            <mat-error *ngIf="registerForm.controls.email.errors?.required">{{
                                'errorInputIsRequired' | translate
                            }}</mat-error>
                            <mat-error *ngIf="registerForm.controls.email.hasError('invalidEmail')">{{
                                'errorInputFormatIsIncorrect' | translate: { input: 'Email' }
                            }}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full mt-1">
                            <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon>
                            <mat-label>{{ 'password' | translate }}</mat-label>
                            <input
                                matInput
                                [placeholder]="'password' | translate"
                                formControlName="password"
                                type="password"
                                minlength="6"
                                required
                                [type]="hide ? 'password' : 'text'"
                            />
                            <mat-error *ngIf="registerForm.controls.password.errors?.required">{{
                                'errorInputIsRequired' | translate
                            }}</mat-error>
                            <mat-error *ngIf="registerForm.controls.password.hasError('minlength')">{{
                                'errorInputMinLength' | translate: { minLength: 6 }
                            }}</mat-error>
                            <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
                                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                            </button>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="w-full mt-1">
                            <mat-icon matPrefix class="mr-1 text-muted">lock</mat-icon>
                            <mat-label>{{ 'confirmPassword' | translate }}</mat-label>
                            <input
                                matInput
                                [placeholder]="'confirmPassword' | translate"
                                formControlName="confirmPassword"
                                type="password"
                                required
                                [type]="hide ? 'password' : 'text'"
                            />
                            <mat-error *ngIf="registerForm.controls.confirmPassword.errors?.required">{{
                                'errorInputIsRequired' | translate
                            }}</mat-error>
                            <mat-error *ngIf="registerForm.controls.confirmPassword.hasError('mismatchedPasswords')">{{
                                'errorInputIsNotMatched' | translate
                            }}</mat-error>
                            <button mat-icon-button matSuffix (click)="hide = !hide" type="button" class="text-muted">
                                <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                            </button>
                        </mat-form-field>
                        <div class="text-center mt-2">
                            <button mat-raised-button color="accent" class="uppercase" type="submit">
                                {{ 'createAnAccount' | translate }}
                            </button>
                        </div>
                    </form>
                    <div class="divider mt-6"></div>
                    <mat-card-actions fxLayoutAlign="center center" class="text-center">
                        <small class="my-3"
                            >{{ 'createAnAccountTermsConditions' | translate }}<br />
                            <a mat-button [routerLink]="routePaths.termsConditions" color="primary">{{
                                'termsConditions' | translate
                            }}</a>
                        </small>
                    </mat-card-actions>
                </ng-container>
                <ng-template #form_submitted>
                    <div fxLayout="column" fxLayoutAlign="center center" class="pt-10 text-center">
                        <button mat-fab color="primary">
                            <mat-icon>check</mat-icon>
                        </button>
                        <div class="mt-3 uppercase text-2xl font-sans">{{ 'register' | translate }}</div>
                        <p class="text-muted" [innerHTML]="'registerSubmitted' | translate"></p>
                        <div class="text-center mt-2">
                            <button mat-button [routerLink]="routePaths.home">
                                <mat-icon class="text-muted">lock</mat-icon>
                                <span class="mx-1">{{ 'backToHomePage' | translate }}</span>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </mat-card>
        </div>
    </div>
</div>
