<ng-container *ngLet="{ user: user$ | async, property: selectedProperty$ | async } as state">
    <h2 mat-dialog-title>{{ 'reportPropertyTitle' | translate }}</h2>
    <mat-dialog-content class="mat-typography">
        <p>{{ 'pleaseLetUsKnowWhatIsWrong' | translate }}</p>
        <div [formGroup]="reportForm" fxLayout="column">
            <div formArrayName="types" fxLayout="column" class="mb-3">
                <div [formGroupName]="i" *ngFor="let control of controls.types['controls']; index as i" class="p-2">
                    <mat-checkbox formControlName="selected">{{
                        control.value.id | appData: appDataType.PropertyReportType | translate
                    }}</mat-checkbox>
                </div>
            </div>

            <mat-form-field class="w-full" appearance="outline" floatLabel="always">
                <mat-label>{{ 'additionalInfo' | translate }}</mat-label>
                <textarea formControlName="remarks" matInput [placeholder]="'additionalInfo' | translate"></textarea>
            </mat-form-field>
            <p>{{ 'contactInformation' | translate }}</p>
            <p class="text-muted">{{ 'contactInformationHint' | translate }}</p>
            <mat-form-field class="w-full" appearance="outline" floatLabel="always">
                <mat-label>{{ 'fullName' | translate }}</mat-label>
                <textarea formControlName="name" matInput [placeholder]="'fullName' | translate"></textarea>
            </mat-form-field>
            <mat-form-field class="w-full" appearance="outline" floatLabel="always">
                <mat-label>{{ 'phone' | translate }}</mat-label>
                <textarea formControlName="phone" matInput [placeholder]="'phone' | translate"></textarea>
            </mat-form-field>
            <mat-form-field class="w-full" appearance="outline" floatLabel="always">
                <mat-label>{{ 'email' | translate }}</mat-label>
                <textarea formControlName="email" matInput [placeholder]="'email' | translate"></textarea>
            </mat-form-field>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>{{ 'cancel' | translate }}</button>
        <button mat-button (click)="submitForm()">{{ 'confirm' | translate }}</button>
    </mat-dialog-actions>
</ng-container>
