<mat-card
    class="project-item p-0"
    ngClass.gt-lg="column-4"
    ngClass.lt-lg="column-3"
    ngClass.lt-md="column-2"
    ngClass.lt-sm=""
    fxLayout="column"
>
    <div fxFlex="100" fxShrink="3" class="thumbnail-section">
        <div *ngIf="project.files.length > 0" class="mat-card-image w-full m-0">
            <img [src]="'/static/projects/' + project.files[0].fileName" [alt]="project.title" />
        </div>
    </div>
    <div fxFlex="100" class="px-2 py-3">
        <div fxLayout="column" fxLayoutAlign="start stretch" class="h-full">
            <mat-card-content class="mb-0">
                <div class="title font-sans font-semibold two-line">
                    <a class="no-underline" [routerLink]="[routePaths.projects, project.id + '-' + project.slug]">{{
                        project.title
                    }}</a>
                </div>

                <div fxLayout="row" class="address mt-2">
                    <mat-icon class="text-muted">location_on</mat-icon>
                    <span class="two-line ml-1">{{ project.location }}</span>
                </div>
            </mat-card-content>
        </div>
    </div>
</mat-card>
