<div class="px-3">
    <div class="theme-container">
        <div class="get-in-touch bg-primary" ngClass.lt-md="mt-3">
            <img src="assets/images/others/operator.png" alt="operator" fxShow="false" fxShow.gt-xs />

            <div fxLayout="row wrap" fxLayoutAlign="space-between center" class="content" ngClass.xs="p-0">
                <div fxLayout="column" class="p-3">
                    <div class="text-2xl font-sans">{{ 'lookingToSellYourHome' | translate }}</div>
                    <p class="mb-0">
                        {{ 'lookingToSellYourHomeHint' | translate }}
                    </p>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" class="p-3">
                    <mat-icon class="mat-icon-xlg mx-2">call</mat-icon>
                    <div fxLayout="column">
                        <p class="mb-0">{{ 'callUsNow' | translate }}</p>
                        <div class="text-2xl whitespace-no-wrap">072 878 341</div>
                    </div>
                </div>
                <div class="p-3">
                    <a mat-flat-button [routerLink]="routePaths.contact" class="mx-3 uppercase">{{
                        'contact' | translate
                    }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
