<mat-form-field appearance="outline" class="w-full">
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter properties" autocomplete="off" />
</mat-form-field>
<div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort class="w-full">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let property">{{ property.id }}</td>
        </ng-container>

        <!-- Image Column -->
        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>Image</th>
            <td mat-cell *matCellDef="let property">
                <img [src]="property.gallery[0].small" [style.width.px]="100" class="block" />
            </td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
            <td mat-cell *matCellDef="let property">
                <a [routerLink]="[routePaths.properties, property.id]" class="property-name">{{ property.title }}</a>
            </td>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Remove</th>
            <td mat-cell *matCellDef="let property">
                <button mat-icon-button color="warn" (click)="remove(property)" matTooltip="Remove" class="remove">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let property; columns: displayedColumns"></tr>
    </table>

    <p *ngIf="dataSource?.data.length === 0" class="py-10 mb-0 text-center">
        No data available
    </p>
</div>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
