<ng-container *ngIf="properties?.length > 0">
    <div class="properties-carousel">
        <div class="swiper-container h-full carousel-outer" [swiper]="config">
            <div class="swiper-wrapper h-full">
                <div *ngFor="let property of properties" class="swiper-slide">
                    <app-property-item [property]="property"></app-property-item>
                </div>
            </div>
            <button mat-mini-fab color="primary" class="prop-prev swiper-button-prev swipe-arrow">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
            <button mat-mini-fab color="primary" class="prop-next swiper-button-next swipe-arrow">
                <mat-icon>keyboard_arrow_right</mat-icon>
            </button>
        </div>
    </div>
</ng-container>
