<div class="p-6">
    <div class="theme-container">
        <div class="my-4">
            <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
                <h1 class="uppercase">Pricing packages</h1>
                <p>Choose a package that's best for your business.</p>
            </div>
            <mat-tab-group mat-align-tabs="center" class="pricing-tabs">
                <mat-tab label="MONTHLY"><app-monthly></app-monthly></mat-tab>
                <mat-tab label="YEARLY"><app-yearly></app-yearly></mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>
