<div class="p-6">
    <div class="theme-container">
        <div fxLayout="row" fxLayoutAlign="center center" class="my-6">
            <mat-card [style.max-width.px]="500">
                <div
                    fxLayout="column"
                    fxLayoutAlign="center center"
                    class="pt-10 text-center"
                    *ngLet="isUserActivated$ | async as isSuccess"
                >
                    <ng-container *ngIf="isSuccess; else activation_failed">
                        <button mat-fab color="primary">
                            <mat-icon>check</mat-icon>
                        </button>
                        <div class="my-3 uppercase text-2xl font-sans">{{ 'accountActivation' | translate }}</div>
                        <p class="text-muted mb-6" [innerHTML]="message | translate"></p>
                        <div fxLayout="row" fxFlexAlign="space-between">
                            <button mat-raised-button [routerLink]="routePaths.home" class="mr-2">
                                <mat-icon>home</mat-icon>
                                <span class="mx-1">{{ 'home' | translate }}</span>
                            </button>
                            <button mat-raised-button color="accent" [routerLink]="routePaths.home" class="ml-2">
                                <mat-icon>sms</mat-icon>
                                <span class="mx-1">{{ 'verifyAccount' | translate }}</span>
                            </button>
                        </div>
                    </ng-container>
                    <ng-template #activation_failed>
                        <button mat-fab color="warn" *ngIf="!isSuccess">
                            <mat-icon>report_problem</mat-icon>
                        </button>
                        <div class="my-3 uppercase text-2xl font-sans">
                            {{ 'accountActivationFailed' | translate }}
                        </div>
                        <p class="text-muted mb-6" [innerHTML]="message | translate"></p>
                        <div class="text-center">
                            <button
                                mat-button
                                [routerLink]="routePaths.home"
                                *ngIf="
                                    message === 'backToHomePage' ||
                                    message === 'errorCannotActivateNotFoundUser' ||
                                    message === 'accountReactivationRequested'
                                "
                            >
                                <mat-icon class="text-muted">home</mat-icon>
                                <span class="mx-1">{{ buttonText | translate }}</span>
                            </button>
                            <button
                                mat-button
                                (click)="reActivateAccount()"
                                *ngIf="message === 'errorActivationCodeExpired'"
                            >
                                <mat-icon class="text-muted">refresh</mat-icon>
                                <span class="mx-1">{{ buttonText | translate }}</span>
                            </button>
                        </div>
                    </ng-template>
                </div>
            </mat-card>
        </div>
    </div>
</div>
