<div class="table-wrapper">
    <div fxLayout="row">
        <div fxFlex="80" class="text-muted text-2xl font-sans font-semibold mb-6">
            {{ 'notifications' | translate }}
        </div>
        <div fxFlex="20" class="text-right">
            <a mat-icon-button [matMenuTriggerFor]="contextMenu">
                <mat-icon>more_vert</mat-icon>
            </a>
            <mat-menu #contextMenu="matMenu">
                <button mat-menu-item (click)="markAllAsRead()">{{ 'markAllAsRead' | translate }}</button>
                <button mat-menu-item (click)="deleteAll()">{{ 'deleteAll' | translate }}</button>
            </mat-menu>
        </div>
    </div>
    <mat-table [dataSource]="dataSource" matSort class="w-full">
        <ng-container matColumnDef="createdAt">
            <mat-header-cell class="cell-created-at" *matHeaderCellDef>{{ 'time' | translate }}</mat-header-cell>
            <mat-cell fxLayoutAlign="start start" class="cell-created-at" *matCellDef="let notification">
                {{ notification.createdAt | date: 'hh:mm dd.MM.yyyy' }}
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="type">
            <mat-header-cell class="cell-content" *matHeaderCellDef>{{ 'content' | translate }}</mat-header-cell>
            <mat-cell
                class="cell-content"
                *matCellDef="let notification"
                fxLayout="column"
                fxLayoutAlign="start start"
                fxLayoutAlign.lt-sm="start stretch"
                [ngClass.lt-sm]="'w-full'"
            >
                <span class="block mb-3" [innerHTML]="getMessageContent(notification) | async"></span>
                <div fxLayoutAlign="row" fxLayout.lt-sm="column">
                    <a
                        [href]="'tel:+84' + notification.parsedMessage.phone"
                        mat-stroked-button
                        color="warn"
                        class="px-2 mr-2 mb-3"
                    >
                        <mat-icon class="mr-2">call</mat-icon>
                        (+84) {{ notification.parsedMessage.phone }}
                    </a>
                    <a
                        *ngIf="notification.parsedMessage.message"
                        mat-stroked-button
                        color="warn"
                        class="px-2 mr-2 mb-3"
                        (click)="viewNotification(notification)"
                    >
                        <mat-icon class="mr-2">chat</mat-icon>
                        {{ 'viewMessage' | translate }}
                    </a>
                    <a
                        *ngIf="notification.parsedMessage.email"
                        [href]="'mailto:' + notification.parsedMessage.email"
                        mat-stroked-button
                        color="warn"
                        class="px-2 mr-2 mb-3"
                    >
                        <mat-icon class="mr-2">email</mat-icon>
                        {{ 'sendEmail' | translate }}
                    </a>
                </div>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell class="cell-actions" *matHeaderCellDef>{{ 'tools' | translate }}</mat-header-cell>
            <mat-cell class="cell-actions" *matCellDef="let notification">
                <div [fxHide.lt-sm]="true">
                    <a
                        mat-icon-button
                        color="primary"
                        [matTooltip]="'markAsRead' | translate"
                        (click)="markAsRead(notification.id)"
                    >
                        <mat-icon>mark_chat_read</mat-icon>
                    </a>
                    <a mat-icon-button color="warn" [matTooltip]="'delete' | translate" (click)="delete(notification)">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>
                <div
                    [fxShow]="false"
                    [fxShow.lt-sm]="true"
                    fxLayout="column"
                    fxLayoutAlign="center stretch"
                    class="w-full"
                >
                    <a mat-stroked-button color="primary" (click)="markAsRead(notification.id)" class="mb-3">
                        <mat-icon>mark_chat_read</mat-icon>
                        {{ 'markAsRead' | translate }}
                    </a>
                    <a mat-stroked-button color="warn" (click)="delete(notification)">
                        <mat-icon>mark_chat_read</mat-icon>
                        {{ 'delete' | translate }}
                    </a>
                </div>
            </mat-cell>
        </ng-container>

        <mat-header-row
            *matHeaderRowDef="displayedColumns"
            fxLayoutAlign="center start"
            fxHide.lt-sm="true"
        ></mat-header-row>
        <mat-row
            *matRowDef="let notification; columns: displayedColumns"
            fxLayoutAlign="center start"
            fxLayout="row"
            fxLayout.lt-sm="column"
            fxLayoutAlign.lt-sm="center stretch"
            class="py-2"
            [ngClass]="{ unread: notification.status === notificationStatus.Unread }"
        ></mat-row>
    </mat-table>

    <p *ngIf="dataSource?.data.length === 0" class="py-10 mb-0 text-center">
        {{ 'dataNotAvailable' | translate }}
    </p>
</div>

<mat-paginator [length]="length$ | async" [pageSize]="pageSize" (page)="pageChanged($event)"></mat-paginator>
