@import '../../../theme/styles/variables';

mat-table {
    mat-cell,
    mat-header-cell {
        padding: 0.5rem;
    }

    .cell-created-at {
        flex: 0 0 15%;
    }

    .cell-content {
        flex: 0 0 70%;
    }

    .cell-actions {
        flex: 1;
    }
}

.unread {
    background: rgba(map_get($customColors, green), 0.1);
}

@media screen and (max-width: 1279px) {
    .cell-content {
        flex: 0 0 60%;
    }
}

@media screen and (max-width: 959px) {
    .cell-created-at {
        flex: 0 0 15%;
    }
}

@media screen and (max-width: 599px) {
    .cell-created-at,
    .cell-content,
    .cell-actions {
        flex: 1;
    }
}
