<form [formGroup]="form" class="search-wrapper variant-1">
    <div [fxLayout]="vertical ? 'column' : 'row wrap'">
        <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>{{ 'period' | translate }}</mat-label>
                <mat-select [placeholder]="'periodHint' | translate" formControlName="years">
                    <mat-option *ngFor="let period of debtPeriods" [value]="period">
                        {{ 'debtPeriod' | translate: { year: period } }}
                    </mat-option>
                </mat-select>
                <mat-error class="mt-2" *ngIf="form.controls.years.errors?.required">{{
                    'errorOptionIsRequired' | translate
                }}</mat-error>
            </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>{{ 'propertyValue' | translate }}</mat-label>
                <input
                    matInput
                    autocomplete="off"
                    [placeholder]="'propertyValue' | translate"
                    type="text"
                    mask="separator.0"
                    thousandSeparator=","
                    formControlName="amount"
                />
                <mat-error class="mt-2" *ngIf="form.controls.amount.errors?.required">{{
                    'errorInputIsRequired' | translate
                }}</mat-error>
            </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>{{ 'maximumDebt' | translate }}</mat-label>
                <input
                    matInput
                    autocomplete="off"
                    [placeholder]="'maximumDebtHint' | translate"
                    type="text"
                    mask="percent"
                    suffix=" %"
                    formControlName="maximumDebt"
                />
                <mat-error class="mt-2" *ngIf="form.controls.maximumDebt.errors?.required">{{
                    'errorInputIsRequired' | translate
                }}</mat-error>
            </mat-form-field>
        </div>

        <div fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>{{ 'interestRate' | translate }}</mat-label>
                <input
                    matInput
                    autocomplete="off"
                    [placeholder]="'interestRateHint' | translate"
                    type="text"
                    mask="percent"
                    [suffix]="'interestRateSuffix' | translate"
                    formControlName="interestRate"
                />
                <mat-error class="mt-2" *ngIf="form.controls.interestRate.errors?.required">{{
                    'errorInputIsRequired' | translate
                }}</mat-error>
            </mat-form-field>
        </div>
    </div>

    <div
        fxLayout="row"
        fxLayout.lt-sm="column"
        fxLayoutAlign="center center"
        fxLayoutAlign.lt-sm="center stretch"
        class="p-2"
    >
        <button
            mat-raised-button
            color="warn"
            class="uppercase mx-1"
            ngClass.lt-sm="mb-2"
            (click)="reset()"
            fxLayoutAlign="center center"
        >
            {{ 'reset' | translate }}
        </button>
        <button
            mat-raised-button
            color="primary"
            class="uppercase mx-1"
            ngClass.lt-sm="mb-2"
            (click)="search()"
            fxLayoutAlign="center center"
        >
            <mat-icon>search</mat-icon> {{ 'calculate' | translate }}
        </button>

        <button
            *ngIf="vertical === false"
            mat-raised-button
            color="warn"
            class="uppercase mx-1"
            (click)="save()"
            fxLayoutAlign="center center"
        >
            <mat-icon>bookmark</mat-icon> {{ 'save' | translate }}
        </button>
    </div>
</form>
