@import '~filepond/dist/filepond.css';
@import '~filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css';

.filepond--wrapper {
    border: 2px dashed #717386;
}

.filepond--drop-label label {
    font-size: 1.5rem;
    font-family: Montserrat;
}

.filepond--root {
    padding: 3rem 0;
    margin-bottom: 0;
    background: #f1f0ef;
}

.filepond--item {
    width: calc(33.33% - 0.5em);
}

.filepond--panel-root {
    background: transparent;
}
