<mat-toolbar fxLayoutAlign="space-between center">
    <a [routerLink]="routePaths.compare" (click)="hideSheet(true)" mat-raised-button color="primary"
        >Compare - {{ properties.length }}</a
    >
    <div fxLayout="row" fxLayoutAlign="end center">
        <button
            mat-icon-button
            (click)="appService.Data.compareList.length = 0; hideSheet(false)"
            matTooltip="Clear Compare List"
        >
            <mat-icon color="warn" class="mat-icon-lg">cancel</mat-icon>
        </button>
        <button mat-icon-button (click)="hideSheet(false)" matTooltip="Hide">
            <mat-icon color="primary" class="mat-icon-lg">arrow_drop_down_circle</mat-icon>
        </button>
    </div>
</mat-toolbar>
<mat-nav-list>
    <a
        mat-list-item
        *ngFor="let property of properties"
        [routerLink]="[routePaths.properties, property.id]"
        (click)="hideSheet(true)"
    >
        <div mat-line class="font-sans text-lg font-semibold font-semibold">{{ property.title }}</div>
        <i mat-line
            ><mat-icon class="mat-icon-sm text-muted">location_on</mat-icon
            ><small>{{ property.formattedAddress }}</small></i
        >
        <span class="text-primary price font-semibold mx-2">
            <span *ngIf="property.priceDollar.sale">{{
                property.priceDollar.sale | currency: 'USD':'symbol':'1.0'
            }}</span>
            <span *ngIf="property.priceDollar.rent"
                >{{ property.priceDollar.rent | currency: 'USD':'symbol':'1.0' }} /month</span
            >
        </span>
        <button
            mat-icon-button
            color="warn"
            class="remove"
            (click)="remove(property, $event)"
            matTooltip="Remove"
            matTooltipPosition="after"
        >
            <mat-icon class="mat-icon-sm">close</mat-icon>
        </button>
    </a>
</mat-nav-list>
