<mat-chip-list>
    <mat-chip *ngIf="searchCriteria?.propertyStatus">
        <span>{{ getPropertyStatus(searchCriteria?.propertyStatus) | translate }}</span>
        <mat-icon color="warn" matChipRemove (click)="removeSearchField('propertyStatus')">cancel</mat-icon>
    </mat-chip>
    <mat-chip *ngIf="searchCriteria?.propertyType">
        <span class="one-line">{{ searchCriteria?.propertyType | appData: appDataType.PropertyType | translate }}</span>
        <mat-icon color="warn" matChipRemove (click)="removeSearchField('propertyType')">cancel</mat-icon>
    </mat-chip>
    <mat-chip *ngIf="searchCriteria?.priceFrom || searchCriteria?.priceTo">
        {{ 'price' | translate }}
        <ng-container *ngIf="searchCriteria?.priceFrom">
            {{ searchCriteria?.priceFrom | mask: 'separator.0':',' }}
        </ng-container>
        -
        <ng-container *ngIf="searchCriteria?.priceTo">
            {{ searchCriteria?.priceTo | mask: 'separator.0':',' }}
        </ng-container>
        <mat-icon color="warn" matChipRemove (click)="removeSearchFields(['priceFrom', 'priceTo'])">cancel</mat-icon>
    </mat-chip>
    <mat-chip *ngIf="searchCriteria?.city">
        <span class="one-line">{{ getAddress() }}</span>
        <mat-icon color="warn" matChipRemove (click)="removeSearchFields(['city', 'district', 'ward'])"
            >cancel</mat-icon
        >
    </mat-chip>
    <mat-chip *ngIf="searchCriteria?.bedrooms">
        {{ 'bedrooms' | translate }}: {{ searchCriteria?.bedrooms }}
        <mat-icon color="warn" matChipRemove (click)="removeSearchField('bedrooms')">cancel</mat-icon>
    </mat-chip>
    <mat-chip *ngIf="searchCriteria?.bathrooms">
        {{ 'bathrooms' | translate }}: {{ searchCriteria?.bathrooms }}
        <mat-icon color="warn" matChipRemove (click)="removeSearchField('bathrooms')">cancel</mat-icon>
    </mat-chip>
    <mat-chip *ngIf="searchCriteria?.areaFrom || searchCriteria?.areaTo">
        {{ 'propertyArea' | translate }}
        <ng-container *ngIf="searchCriteria?.areaFrom">
            {{ searchCriteria?.areaFrom }}
        </ng-container>
        -
        <ng-container *ngIf="searchCriteria?.areaTo">
            {{ searchCriteria?.areaTo }}
        </ng-container>
        <mat-icon color="warn" matChipRemove (click)="removeSearchFields(['areaFrom', 'areaTo'])">cancel</mat-icon>
    </mat-chip>

    <span *ngIf="searchCriteria?.features">
        <span *ngFor="let feature of searchCriteria?.features; index as i">
            <mat-chip *ngIf="feature.selected">
                {{ feature.id | appData: appDataType.PropertyFeature | translate }}
                <mat-icon color="warn" matChipRemove (click)="removeSearchField('features,' + i)">cancel</mat-icon>
            </mat-chip>
        </span>
    </span>
</mat-chip-list>
