<div class="section mt-3">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">Hot offer today</h1>

            <!--            <app-property-item *ngIf="property" [property]="property" [viewType]="'list'"></app-property-item>-->
        </div>
    </div>
</div>
