<div class="p-6">
    <div fxLayout="row" class="theme-container" *ngLet="user$ | async as user">
        <div class="call-to-actions" fxShow.lt-md="true">
            <button mat-fab color="accent" (click)="sidenavService.open(rightSidenavRef)">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
        <div fxFlex="20" fxFlex.lt-lg="25" fxHide.lt-md="true">
            <ng-container *ngTemplateOutlet="rightSidenavRef"></ng-container>
        </div>
        <div ngClass.gt-md="ml-3">
            <mat-card class="account-wrapper">
                <router-outlet></router-outlet>
            </mat-card>
        </div>

        <ng-template #rightSidenavRef>
            <mat-card>
                <mat-card-header fxLayoutAlign="start center">
                    <img mat-card-avatar src="assets/images/others/user.jpg" alt="" />
                    <mat-card-title class="text-muted mb-0">{{ user?.name }}</mat-card-title>
                </mat-card-header>
                <div class="divider my-6"></div>
                <div *ngFor="let link of links">
                    <a
                        mat-button
                        [routerLink]="link.href"
                        routerLinkActive="horizontal-active-link"
                        [routerLinkActiveOptions]="{ exact: true }"
                        fxLayout="row"
                        fxLayoutAlign="start center"
                        class="p-6"
                    >
                        <mat-icon class="text-muted">{{ link.icon }}</mat-icon>
                        <span class="mx-2">{{ link.name | translate }}</span>
                    </a>
                </div>
            </mat-card>
        </ng-template>
    </div>
</div>
