<ng-container *ngIf="user$ | async">
    <ng-container *ngLet="notifications$ | async as notifications">
        <a
            mat-icon-button
            [matTooltip]="'youHaveNewNotifications' | translate"
            [matMenuTriggerFor]="userMenu"
            #userMenuTrigger="matMenuTrigger"
            class="mr-3"
        >
            <mat-icon
                [matBadge]="countUnreadNotification(notifications) + ''"
                [matBadgeHidden]="countUnreadNotification(notifications) < 1"
                matBadgeSize="medium"
                matBadgeColor="accent"
                >notifications_none</mat-icon
            >
        </a>
        <mat-menu
            #userMenu="matMenu"
            [overlapTrigger]="false"
            xPosition="after"
            class="app-menu-panel notification-menu"
        >
            <a
                mat-menu-item
                [routerLink]="routePaths.myNotifications"
                [queryParams]="{ id: notification.id }"
                *ngFor="let notification of notifications"
                [ngClass]="{ unread: notification.status === notificationStatus.Unread }"
            >
                <mat-icon class="mat-icon-sm">{{ notification.type | notificationType }}</mat-icon>
                <span>{{ getMessageContent(notification) | async }}</span>
                <div class="divider"></div>
            </a>
            <a mat-menu-item class="view-all" fxLayoutAlign="center center" [routerLink]="routePaths.myNotifications">{{
                'viewAllNotifications' | translate
            }}</a>
        </mat-menu>
    </ng-container>
</ng-container>
