<div class="section default">
    <div class="px-6">
        <div class="theme-container">
            <h1 class="section-title">{{ 'ourMission' | translate }}</h1>

            <mat-card class="p-0" fxLayout="row wrap">
                <div fxFlex="100" fxFlex.gt-md="50" class="p-2">
                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">monetization_on</mat-icon>
                            <div class="capitalize text-xl font-sans font-semibold my-2">
                                {{ 'saveMoney' | translate }}
                            </div>
                            <p [innerHTML]="'saveMoneyHint' | translate"></p>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">thumb_up</mat-icon>
                            <div class="capitalize text-xl font-sans font-semibold my-2">
                                {{ 'highlyTrusted' | translate }}
                            </div>
                            <p [innerHTML]="'highlyTrustedHint' | translate"></p>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">search</mat-icon>
                            <div class="capitalize text-xl font-sans font-semibold my-2">
                                {{ 'searchable' | translate }}
                            </div>
                            <p [innerHTML]="'searchableHint' | translate"></p>
                        </div>
                        <div fxFlex="100" fxFlex.gt-xs="50" class="p-2">
                            <mat-icon color="primary" class="mat-icon-xlg">group</mat-icon>
                            <div class="capitalize text-xl font-sans font-semibold my-2">
                                {{ 'ecosystem' | translate }}
                            </div>
                            <p [innerHTML]="'ecosystemHint' | translate"></p>
                        </div>
                    </div>
                </div>
                <div fxFlex="100" fxFlex.gt-md="50" fxShow="false" fxShow.gt-md>
                    <img src="assets/images/others/mission.jpg" alt="mission" class="max-w-full block" />
                </div>
            </mat-card>
        </div>
    </div>
</div>
