<div fxLayout="row wrap">
    <div *ngFor="let item of items" fxFlex="100" fxFlex.gt-sm="25" fxFlex.sm="50" class="p-2">
        <mat-card class="pricing-card text-center border-accent p-0 h-full">
            <div class="uppercase font-semibold my-4">{{ item.name }}</div>
            <div class="bg-accent pricing-header p-4" fxLayout="column" fxLayoutAlign="center center">
                <h1>$ {{ item.price }}<small> /yr</small></h1>
                <p class="desc mb-2">{{ item.desc }}</p>
            </div>
            <div class="p-4">
                <p class="py-2">
                    <span class="mx-2 font-semibold">{{ item.properties }}</span
                    >Properties
                </p>
                <p class="py-2">
                    <span class="mx-2 font-semibold">{{ item.agentProfiles }}</span
                    >Agent Profile<span *ngIf="item.agentProfiles !== '1'">s</span>
                </p>
                <p
                    class="py-2"
                    [class.del]="item.agencyProfiles === '0'"
                    [class.text-muted]="item.agencyProfiles === '0'"
                >
                    <span *ngIf="item.agencyProfiles !== '0'" class="mx-2 font-semibold">{{ item.agencyProfiles }}</span
                    >Agency Profile<span *ngIf="item.agencyProfiles !== '1'">s</span>
                </p>
                <p
                    class="py-2"
                    [class.del]="item.featuredProperties === '0'"
                    [class.text-muted]="item.featuredProperties === '0'"
                >
                    <span *ngIf="item.featuredProperties !== '0'" class="mx-2 font-semibold">{{
                        item.featuredProperties
                    }}</span
                    >Featured Properties
                </p>
                <button mat-raised-button color="primary" class="mt-4 uppercase">
                    Buy now
                </button>
            </div>
        </mat-card>
    </div>
</div>
