<span fxLayoutAlign="center center" class="item">
    <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">call</mat-icon>
    <span class="px-1"><a class="no-underline text-white" href="tel:+84972878341">0972 878 341</a></span>
</span>
<span *ngIf="dividers" class="v-divider"></span>
<span *ngIf="dividers" class="v-divider"></span>
<span fxLayoutAlign="center center" class="item">
    <mat-icon [color]="iconColor" [ngClass]="'mat-icon-' + iconSize">mail</mat-icon>
    <span class="px-1"><a class="no-underline text-white" href="mailto:info@sohuu.vn">info@sohuu.vn</a></span>
</span>
