<footer>
    <div class="px-3">
        <div class="theme-container">
            <div fxLayout="row wrap" class="quick-contacts py-10">
                <div fxLayout="row" fxFlex="25" fxFlex.lt-md="50" fxLayoutAlign="start start" class="mb-2">
                    <mat-icon color="primary">call</mat-icon>
                    <span class="mx-2">
                        <span class="contact-title">{{ 'hotline' | translate }}</span
                        ><br />
                        <a href="tel:+84972878341">0972 878 341</a>
                    </span>
                </div>
                <div fxLayout="row" fxFlex="25" fxFlex.lt-md="50" fxLayoutAlign="start start" class="mb-2">
                    <mat-icon color="primary">call</mat-icon>
                    <span class="mx-2">
                        <span class="contact-title">{{ 'claim' | translate }}</span
                        ><br />
                        <a href="tel:+84972878341">0972 878 341</a>
                    </span>
                </div>
                <div fxLayout="row" fxFlex="25" fxFlex.lt-md="50" fxLayoutAlign="start start" class="mb-2">
                    <mat-icon color="primary">mail</mat-icon>
                    <span class="mx-2">
                        <span class="contact-title">{{ 'saleDepartment' | translate }}</span
                        ><br />
                        <a href="mailto:sale@sohuu.vn">sale@sohuu.vn</a>
                    </span>
                </div>
                <div fxLayout="row" fxFlex="25" fxFlex.lt-md="50" fxLayoutAlign="start start" class="mb-2">
                    <mat-icon color="primary">mail</mat-icon>
                    <span class="mx-2">
                        <span class="contact-title">{{ 'customerServiceDepartment' | translate }}</span
                        ><br />
                        <a href="mailto:customer@sohuu.vn">customer@sohuu.vn</a>
                    </span>
                </div>
            </div>
            <div class="py-3 content border-lighter">
                <div fxLayout="row wrap" fxLayoutAlign="space-between">
                    <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="45">
                        <a class="logo" [routerLink]="routePaths.home"><app-logo color="light"></app-logo></a>
                        <p class="mt-10 mb-3 desc text-justify" [innerHTML]="'shortIntroduction' | translate"></p>
                        <p fxLayout="row" fxLayoutAlign="start center" class="mt-2">
                            <mat-icon color="primary">location_on</mat-icon>
                            <span class="mx-2 text-justify">{{ 'companyLocation' | translate }}</span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center" class="mt-1">
                            <mat-icon color="primary">call</mat-icon>
                            <span class="mx-2"><a href="tel:+84972878341">0972 878 341</a></span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center" class="mt-1">
                            <mat-icon color="primary">mail_outline</mat-icon>
                            <span class="mx-2"><a href="mailto:info@sohuu.vn">info@sohuu.vn</a></span>
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center" class="mt-1">
                            <mat-icon color="primary">schedule</mat-icon>
                            <span class="mx-2">T2 - CN / 9:00AM - 18:00PM</span>
                        </p>
                    </div>
                    <div fxFlex="100" fxFlex.gt-sm="30" fxFlex.sm="45">
                        <div class="uppercase text-2xl font-sans">{{ 'info' | translate }}</div>

                        <p fxLayout="row" fxLayoutAlign="start center" class="my-3">
                            <mat-icon color="primary">business</mat-icon>
                            <span class="mx-2"
                                ><a href="#">{{ 'aboutUs' | translate }}</a></span
                            >
                        </p>
                        <p fxLayout="row" fxLayoutAlign="start center" class="my-3">
                            <mat-icon color="primary">assignment_ind</mat-icon>
                            <span class="mx-2"
                                ><a href="#">{{ 'hire' | translate }}</a></span
                            >
                        </p>
                    </div>
                </div>
            </div>

            <div fxLayout="row" fxLayoutAlign="space-between center" class="copyright py-3">
                <div fxFlex="50" fxFlex.lt-md="100" class="text-left">
                    <p>Copyright © 2020 sohuu.vn</p>
                </div>
                <div fxFlex="50" fxFlex.lt-md="100" class="text-right">
                    <p>Đơn vị phát triển nền tảng: SoHuu.VN</p>
                </div>
            </div>
        </div>
    </div>
</footer>
