$custom-green: (
    50: #e7f1e8,
    100: #c3ddc5,
    200: #9cc79e,
    300: #74b077,
    400: #569f59,
    500: #388e3c,
    600: #328636,
    700: #2b7b2e,
    800: #247127,
    900: #175f1a,
    A100: #9aff9d,
    A200: #67ff6b,
    A400: #34ff3a,
    A700: #1aff21,
    contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #000000,
        400: #000000,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #000000,
        A400: #000000,
        A700: #000000,
    ),
);

$primary: mat-palette($custom-green);
$accent: mat-palette($mat-amber);
$warn: mat-palette($mat-blue-grey, 600);

$green-theme: mat-light-theme($primary, $accent, $warn);
