$pink-primary: mat-palette($mat-pink, 700, 50, 900);
$pink-accent: mat-palette($mat-indigo, 600, 100, 900);
$pink-warn: mat-palette($mat-deep-orange, A400);

$pink-theme: mat-light-theme($pink-primary, $pink-accent, $pink-warn);
