$purple-primary: mat-palette($mat-purple, 700, 50, 900);
$purple-accent: mat-palette($mat-green, 600, 100, 900);
$purple-warn: mat-palette($mat-red, A200);

$purple-theme: mat-light-theme($purple-primary, $purple-accent, $purple-warn);
