$red-primary: mat-palette($mat-red, 700, 50, 900);
$red-accent: mat-palette($mat-green, 600, 100, 900);
$red-warn: mat-palette($mat-deep-orange, A400);

$red-theme: mat-light-theme($red-primary, $red-accent, $red-warn);
