<div class="section mt-6">
    <div class="px-6">
        <div class="theme-container">
            <h1 class="section-title mb-6">{{ 'investors' | translate }}</h1>
            <p class="text-center">
                {{ 'investorsHint' | translate }}
            </p>

            <div class="clients-carousel">
                <div class="swiper-container h-full" [swiper]="config">
                    <div class="swiper-wrapper h-full">
                        <div *ngFor="let client of clients" class="swiper-slide">
                            <div class="client-item">
                                <img [attr.data-src]="client.image" class="swiper-lazy" />
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
