.clients-carousel {
    position: relative;
    padding: 8px 0;
    margin-top: 30px;
    margin-bottom: 20px;
    .swiper-container {
        padding: 8px 2px;
        margin: 0 14px;
        .client-item {
            height: 88px;
            display: flex;
            align-items: center;
            img {
                max-width: 100%;
                max-height: 100%;
                margin: 0 auto;
            }
        }
    }
}
