.testimonials-carousel {
    .swiper-container {
        padding-bottom: 50px;
        .content {
            max-width: 650px;
            margin: 0 auto;
            img {
                border-radius: 50%;
                width: 140px;
                height: 140px;
            }
            .quote {
                font-size: 50px;
                line-height: 14px;
                &.open {
                    margin-top: 24px;
                }
                &.close {
                    margin-bottom: 24px;
                }
            }
        }
    }
}
