<div class="section testimonials">
    <div class="px-3">
        <div class="theme-container">
            <h1 class="section-title">What people are saying</h1>

            <div class="testimonials-carousel">
                <div class="swiper-container h-full" [swiper]="config">
                    <div class="swiper-wrapper h-full">
                        <div *ngFor="let testimonial of testimonials" class="swiper-slide">
                            <div class="content text-center">
                                <img [attr.data-src]="testimonial.image" class="swiper-lazy" />
                                <div class="quote open text-left text-primary">
                                    “
                                </div>
                                <p class="font-semibold">{{ testimonial.text }}</p>
                                <div class="quote close text-right text-primary">
                                    ”
                                </div>
                                <div class="font-sans text-lg font-semibold uppercase">{{ testimonial.author }}</div>
                                <p>{{ testimonial.position }}</p>
                                <div class="swiper-lazy-preloader"></div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</div>
