<ng-container *ngIf="property$ | async as property">
    <ng-container *ngLet="user$ | async as user">
        <div class="px-6">
            <div class="theme-container mt-6" fxLayout="row">
                <div fxFlex="70" fxFlex.lt-md="100">
                    <ng-container *ngIf="property">
                        <mat-card
                            fxLayout="row"
                            fxLayoutAlign="start center"
                            class="mb-5 bg-accent"
                            *ngIf="property.submitStatus !== submitStatus.Active"
                        >
                            <mat-icon class="mr-2">warning</mat-icon>
                            <span>{{ 'propertyStatusIsPending' | translate }}</span>
                        </mat-card>
                        <mat-card fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between start">
                            <div>
                                <div class="text-2xl font-sans font-semibold uppercase" ngClass.xs="text-center">
                                    {{ property?.title }}
                                </div>
                                <p fxLayout="row" fxLayoutAlign.xs="center" class="address mb-0">
                                    <mat-icon class="text-muted">location_on</mat-icon>
                                    <span>{{ property.fullLocation }}</span>
                                </p>
                            </div>
                            <div fxLayout="column" fxLayoutAlign.xs="center center" class="mx-6">
                                <div class="text-lg">
                                    <ng-container *ngFor="let status of property.statuses">
                                        <span class="font-semibold">
                                            {{ status.status | appData: appDataType.PropertyStatus | translate }}:
                                        </span>
                                        <span>{{ status.price | mask: 'separator.0':',' }}</span>
                                        <br />
                                    </ng-container>
                                </div>
                            </div>
                        </mat-card>
                        <mat-card class="mt-6 property-carousel">
                            <div class="main-carousel mb-6">
                                <div *ngIf="property" class="control-icons">
                                    <button
                                        mat-button
                                        [disabled]="onFavorites()"
                                        (click)="addToFavorites()"
                                        [matTooltip]="'addToFavorite' | translate"
                                    >
                                        <mat-icon class="">favorite_border</mat-icon>
                                    </button>
                                    <button
                                        mat-button
                                        [disabled]="onCompare()"
                                        (click)="addToCompare()"
                                        [matTooltip]="'addToCompare' | translate"
                                    >
                                        <mat-icon class="">compare_arrows</mat-icon>
                                    </button>
                                </div>
                                <ng-container *ngIf="property?.files && property?.files.length > 0">
                                    <div
                                        id="main-carousel"
                                        class="swiper-container"
                                        [swiper]="config"
                                        (slideChange)="onIndexChange()"
                                    >
                                        <div class="swiper-wrapper">
                                            <div *ngFor="let image of property?.files" class="swiper-slide">
                                                <img
                                                    [attr.data-src]="'/static/images/' + image.fileName"
                                                    class="swiper-lazy"
                                                />
                                                <div class="swiper-lazy-preloader"></div>
                                            </div>
                                        </div>
                                        <button mat-mini-fab color="primary" class="swiper-button-prev swipe-arrow">
                                            <mat-icon>keyboard_arrow_left</mat-icon>
                                        </button>
                                        <button mat-mini-fab color="primary" class="swiper-button-next swipe-arrow">
                                            <mat-icon>keyboard_arrow_right</mat-icon>
                                        </button>
                                    </div>
                                </ng-container>
                            </div>
                            <div class="small-carousel" fxHide.lt-md="true">
                                <div id="small-carousel" class="swiper-container" [swiper]="config2">
                                    <div class="swiper-wrapper">
                                        <div
                                            *ngFor="let image of property?.files; let i = index"
                                            class="swiper-slide"
                                            [ngClass]="'thumb-' + i"
                                            [class.active-thumb]="i === 0"
                                        >
                                            <img
                                                [attr.data-src]="'/static/images/' + image.fileName"
                                                class="swiper-lazy max-w-full"
                                                (click)="selectImage(i)"
                                            />
                                            <div class="swiper-lazy-preloader"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </mat-card>
                        <mat-card class="mt-4">
                            <mat-card-header>
                                <mat-card-title>{{ 'details' | translate }}</mat-card-title>
                            </mat-card-header>
                            <div fxLayout="row wrap" class="details">
                                <div fxFlex="100" fxLayout="row" fxLayout.lt-sm="column" class="item mb-2">
                                    <span class="font-semibold">{{ 'propertyType' | translate }}:</span>
                                    <span>{{
                                        property.propertyType | appData: appDataType.PropertyType | translate
                                    }}</span>
                                </div>

                                <div
                                    fxFlex="100"
                                    fxLayout="row"
                                    fxLayout.lt-sm="column"
                                    class="item mb-2"
                                    *ngFor="let status of property.statuses"
                                >
                                    <span class="font-semibold"
                                        >{{ status.status | appData: appDataType.PropertyStatus | translate }}:
                                    </span>
                                    <span>
                                        {{ status.price | mask: 'separator.0':',' }}
                                        ({{ (status.negotiable ? 'negotiable' : 'nonNegotiable') | translate }})
                                    </span>
                                </div>
                                <div fxFlex="100" fxLayout="row" fxLayout.lt-sm="column" class="item mb-2">
                                    <span class="font-semibold">{{ 'address' | translate }}</span>
                                    <span>{{ property.fullLocation }}</span>
                                </div>
                                <ng-container *ngIf="getPropertyMetadata(property, 'legal') as legal">
                                    <div fxFlex="100" fxLayout="row" fxLayout.lt-sm="column" class="item mb-2">
                                        <span class="font-semibold">{{ 'legal' | translate }}</span>
                                        <span>{{ legal | appData: appDataType.PropertyLegal | translate }}</span>
                                    </div>
                                </ng-container>

                                <ng-container *ngIf="getPropertyMetadata(property, 'structure') as structures">
                                    <div fxFlex="100" class="divider my-4"></div>
                                    <div
                                        fxFlex="100"
                                        fxFlex.gt-xs="50"
                                        fxLayout="row"
                                        class="item mb-2"
                                        *ngIf="structures.bedrooms"
                                    >
                                        <span class="font-semibold">{{ 'bedroomCount' | translate }}:</span>
                                        <span>{{ structures.bedrooms }}</span>
                                    </div>
                                    <div
                                        fxFlex="100"
                                        fxFlex.gt-xs="50"
                                        fxLayout="row"
                                        class="item mb-2"
                                        *ngIf="structures.bathrooms"
                                    >
                                        <span class="font-semibold">{{ 'bathroomCount' | translate }}:</span>
                                        <span>{{ structures.bathrooms }}</span>
                                    </div>
                                    <div
                                        fxFlex="100"
                                        fxFlex.gt-xs="50"
                                        fxLayout="row"
                                        class="item mb-2"
                                        *ngIf="structures.floors"
                                    >
                                        <span class="font-semibold">{{ 'floorCount' | translate }}:</span>
                                        <span>{{ structures.floors }}</span>
                                    </div>
                                    <div
                                        fxFlex="100"
                                        fxFlex.gt-xs="50"
                                        fxLayout="row"
                                        class="item mb-2"
                                        *ngIf="structures.area"
                                    >
                                        <span class="font-semibold">{{ 'propertyArea' | translate }}:</span>
                                        <span>{{ structures.area }}</span>
                                    </div>
                                </ng-container>
                                <ng-container
                                    *ngIf="getPropertyMetadata(property, propertyMetadataName.Fengshui) as fengshui"
                                >
                                    <div fxFlex="100" class="divider my-3"></div>
                                    <div
                                        fxFlex="100"
                                        fxFlex.gt-xs="33.33"
                                        fxLayout="column"
                                        class="item mb-2"
                                        *ngIf="fengshui.mainDoorDirection"
                                    >
                                        <span class="font-semibold">{{ 'mainDoorDirection' | translate }}:</span>
                                        <span>{{
                                            fengshui.mainDoorDirection
                                                | appData: appDataType.PropertyDirection
                                                | translate
                                        }}</span>
                                    </div>
                                    <div
                                        fxFlex="100"
                                        fxFlex.gt-xs="33.33"
                                        fxLayout="column"
                                        class="item mb-2"
                                        *ngIf="fengshui.balconyDirection"
                                    >
                                        <span class="font-semibold">{{ 'balconyDirection' | translate }}:</span>
                                        <span>{{
                                            fengshui.balconyDirection
                                                | appData: appDataType.PropertyDirection
                                                | translate
                                        }}</span>
                                    </div>
                                    <div
                                        fxFlex="100"
                                        fxFlex.gt-xs="33.33"
                                        fxLayout="column"
                                        class="item mb-2"
                                        *ngIf="fengshui.kitchenDirection"
                                    >
                                        <span class="font-semibold">{{ 'kitchenDirection' | translate }}:</span>
                                        <span>{{
                                            fengshui.kitchenDirection
                                                | appData: appDataType.PropertyDirection
                                                | translate
                                        }}</span>
                                    </div>
                                </ng-container>
                            </div>
                        </mat-card>

                        <ng-container *ngIf="getPropertyMetadata(property, 'features') as features">
                            <mat-card class="mt-3">
                                <mat-card-header>
                                    <mat-card-title class="uppercase">{{ 'features' | translate }}</mat-card-title>
                                </mat-card-header>

                                <mat-card-content fxLayout="row wrap">
                                    <ng-container *ngIf="features.features && getFeatureMap(features.features) as featureMap">
                                        <div
                                            fxFlex="25"
                                            fxFlex.lt-lg="33.33"
                                            fxFlex.lt-md="50"
                                            fxLayout="row"
                                            class="item mb-2"
                                            *ngFor="let feature of featureMap"
                                        >
                                            <mat-icon color="primary" *ngIf="feature.checked; else unchecked">check_box</mat-icon>
                                            <ng-template #unchecked>
                                                <mat-icon class="warn">check_box_outline_blank</mat-icon>
                                            </ng-template>
                                            <span class="ml-2">{{
                                                feature.value | appData: appDataType.PropertyFeature | translate
                                            }}</span>
                                        </div>
                                    </ng-container>
                                </mat-card-content>
                                <ng-container
                                    *ngIf="features.additionalFeatures && features.additionalFeatures.length > 0"
                                >
                                    <mat-card-header>
                                        <mat-card-title class="uppercase">{{
                                            'additionalFeatures' | translate
                                        }}</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <div
                                            fxFlex="100"
                                            fxFlex.gt-xs="33.33"
                                            fxLayout="column"
                                            class="item mb-2"
                                            *ngFor="let additionalFeature of features.additionalFeatures"
                                        >
                                            <span class="font-semibold">{{ additionalFeature.name }}:</span>
                                            <span>{{ additionalFeature.value }}</span>
                                        </div>
                                    </mat-card-content>
                                </ng-container>
                            </mat-card>
                        </ng-container>

                        <mat-card class="mt-3">
                            <mat-card-header fxLayoutAlign="center center">
                                <mat-card-title class="uppercase">{{ 'description' | translate }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <quill-view-html [content]="property.description" theme="snow"></quill-view-html>
                            </mat-card-content>
                        </mat-card>

                        <mat-card class="mt-3" *ngIf="property.lat && property.lng">
                            <mat-card-header fxLayoutAlign="center center">
                                <mat-card-title class="uppercase">{{ 'location' | translate }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content>
                                <img class="w-full" [src]="getPropertyStaticMap(property)" [alt]="property.title" />
                            </mat-card-content>
                        </mat-card>

                        <mat-card class="mt-3" fxLayout="column">
                            <div
                                fxLayout="row wrap"
                                fxLayout.lt-sm="column"
                                fxLayoutAlign="space-between center"
                                fxLayoutAlign.lt-sm="start start"
                            >
                                <span class="mb-2"
                                    >{{ 'publishedAt' | translate }}:<span class="font-semibold mx-2">{{
                                        property.publishedAt | date: 'dd.MM.yyyy'
                                    }}</span></span
                                >
                                <span class="mb-2"
                                    >{{ 'updatedAt' | translate }}:<span class="font-semibold mx-2">{{
                                        property.updatedAt | date: 'dd.MM.yyyy'
                                    }}</span></span
                                >
                                <span class="mb-2"
                                    >{{ 'views' | translate }}:<span class="font-semibold mx-2">{{
                                        property.views
                                    }}</span></span
                                >
                            </div>
                            <div fxLayout="row" class="mt-3">
                                <div fxFlex="100" class="text-right">
                                    <button mat-raised-button color="accent" (click)="reportProperty()">
                                        <mat-icon class="mr-2">report</mat-icon>
                                        <span>{{ 'reportProperty' | translate }}</span>
                                    </button>
                                </div>
                            </div>
                        </mat-card>
                    </ng-container>
                </div>
                <div fxFlex="30" fxHide.lt-md="true">
                    <div class="ml-5">
                        <ng-container *ngTemplateOutlet="rightSidenavRef"></ng-container>
                    </div>
                </div>
            </div>
        </div>

        <div class="section mt-3" *ngLet="relatedProperties$ | async as relatedProperties">
            <div class="px-3">
                <div class="theme-container">
                    <h1 class="section-title">{{ 'relatedProperties' | translate }}</h1>
                    <ng-container *ngIf="relatedProperties?.length > 0">
                        <app-properties-carousel [properties]="relatedProperties"></app-properties-carousel>
                    </ng-container>
                </div>
            </div>
        </div>

        <app-get-in-touch></app-get-in-touch>

        <ng-template #rightSidenavRef>
            <mat-card>
                <div class="widget">
                    <div class="text-lg font-semibold uppercase widget-title bg-primary">
                        {{ 'seller' | translate }}
                    </div>
                    <div fxLayout="start center" class="mb-2 px-3">
                        <mat-icon color="primary">person</mat-icon>
                        <span class="mx-2"> {{ property.owner.name }}</span>
                    </div>

                    <ng-container *ngIf="!user; else logged_in_user">
                        <a class="no-underline text-primary font-semibold" [routerLink]="routePaths.login">{{
                            'signIn' | translate
                        }}</a>
                        {{ 'toViewSellerInfo' | translate }}
                    </ng-container>
                    <ng-template #logged_in_user>
                        <ng-container *ngIf="!user.isPhoneVerified; else verified_user">
                            <a class="no-underline text-primary font-semibold" [routerLink]="routePaths.login">{{
                                'verifyAccount' | translate
                            }}</a>
                            {{ 'toViewSellerContactInfo' | translate }}
                        </ng-container>
                        <ng-template #verified_user>
                            <a
                                mat-button
                                fxLayoutAlign="start center"
                                class="mb-2 px-3"
                                [href]="'mailto:' + property.owner.email"
                                *ngIf="property.owner.email"
                            >
                                <mat-icon color="primary">email</mat-icon
                                ><span class="mx-2">{{ property.owner.email }}</span>
                            </a>
                            <a
                                mat-button
                                fxLayoutAlign="start center"
                                [href]="'tel:' + property.owner.phone"
                                class="px-3"
                                *ngIf="property.owner.phone"
                            >
                                <mat-icon color="primary">call</mat-icon
                                ><span class="mx-2">{{ property.owner.phone }}</span>
                            </a>
                        </ng-template>
                    </ng-template>

                    <div class="divider my-3"></div>
                    <div fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="start center" class="text-muted">
                            <!--                                    <a-->
                            <!--                                        [href]="'https://www.facebook.com/' + agent.social.facebook"-->
                            <!--                                        target="blank"-->
                            <!--                                        class="social-icon"-->
                            <!--                                    >-->
                            <!--                                        <svg class="mat-icon" viewBox="0 0 24 24">-->
                            <!--                                            <path-->
                            <!--                                                d="M5,3H19A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5A2,2 0 0,1 3,19V5A2,2 0 0,1 5,3M18,5H15.5A3.5,3.5 0 0,0 12,8.5V11H10V14H12V21H15V14H18V11H15V9A1,1 0 0,1 16,8H18V5Z"-->
                            <!--                                            />-->
                            <!--                                        </svg>-->
                            <!--                                    </a>-->
                        </div>
                        <div>
                            <!--                                    <a-->
                            <!--                                        [routerLink]="[routePaths.agencies, agent.id]"-->
                            <!--                                        mat-button-->
                            <!--                                        color="primary"-->
                            <!--                                        class="uppercase"-->
                            <!--                                        >{{ 'viewProfile' | translate }}</a-->
                            <!--                                    >-->
                        </div>
                    </div>
                </div>

                <div class="widget">
                    <div class="text-lg font-semibold uppercase widget-title bg-primary">
                        {{ 'contactOwner' | translate }}
                    </div>
                    <form [formGroup]="contactForm" (ngSubmit)="submitContactForm()">
                        <p>
                            {{ 'interestedInProperty' | translate }}
                        </p>
                        <p *ngIf="!user">
                            <a class="no-underline text-primary font-semibold" [routerLink]="routePaths.login">{{
                                'signIn' | translate
                            }}</a>
                            {{ 'interestedInProperty2' | translate }}
                        </p>
                        <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                            <mat-label>{{ 'fullName' | translate }}</mat-label>
                            <input
                                matInput
                                [placeholder]="'fullName' | translate"
                                autocomplete="off"
                                formControlName="name"
                            />
                            <mat-error *ngIf="contactForm.controls.name.errors?.required">{{
                                'errorInputIsRequired' | translate
                            }}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                            <mat-label>{{ 'email' | translate }}</mat-label>
                            <input
                                matInput
                                [placeholder]="'email' | translate"
                                autocomplete="off"
                                formControlName="email"
                            />
                            <mat-error *ngIf="contactForm.controls.email.errors?.required">{{
                                'errorInputIsRequired' | translate
                            }}</mat-error>
                            <mat-error *ngIf="contactForm.controls.email.hasError('invalidEmail')">{{
                                'errorInputFormatIsIncorrect' | translate: { input: 'Email' }
                            }}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                            <mat-label>{{ 'phone' | translate }}</mat-label>
                            <input
                                matInput
                                [placeholder]="'phoneNumber' | translate"
                                formControlName="phone"
                                required
                                autocomplete="off"
                                prefix="(+84)"
                                mask="000-000-000"
                                [showMaskTyped]="true"
                            />
                            <mat-error *ngIf="contactForm.controls.phone.errors?.required">{{
                                'errorInputIsRequired' | translate
                            }}</mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                            <mat-label>{{ 'message' | translate }}</mat-label>
                            <textarea
                                matInput
                                [placeholder]="'messageHint' | translate"
                                formControlName="message"
                                rows="6"
                            ></textarea>
                            <mat-error *ngIf="contactForm.controls.message.errors?.required">{{
                                'errorInputIsRequired' | translate
                            }}</mat-error>
                        </mat-form-field>
                        <div class="text-center">
                            <button mat-raised-button color="accent" class="w-full" type="submit">
                                {{ 'contactMe' | translate }}
                            </button>
                        </div>
                    </form>
                </div>
                <div class="widget" *ngIf="!!getSaleStatus(property)">
                    <div class="text-lg font-semibold uppercase widget-title bg-primary">
                        {{ 'lendMoneyForProperty' | translate }}
                    </div>
                    <app-interest-inputs
                        [vertical]="true"
                        [initialInput]="initialInterestInput"
                        (searchClick)="calcInterest($event, property)"
                    >
                    </app-interest-inputs>
                </div>

                <div fxLayout="column" class="widget">
                    <div class="text-lg font-semibold uppercase widget-title bg-primary">
                        {{ 'featuredProjects' | translate }}
                    </div>
                    <p>{{ 'underConstructionFeature' | translate }}</p>
                </div>
            </mat-card>
        </ng-template>
        <div class="call-to-actions" *ngIf="!sidenavOpen">
            <button mat-fab color="accent" (click)="sidenavService.open(rightSidenavRef)">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>
    </ng-container>
</ng-container>
