.font-light {
    font-weight: 300 !important;
}
.font-normal {
    font-weight: 400 !important;
}
.font-medium {
    font-weight: 500 !important;
}
.font-semibold {
    font-weight: 600 !important;
}
.font-bold {
    font-weight: 700 !important;
}
