@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Gelasio:wght@400;500;700&display=swap');
@import '../variables';

.font-sans {
    font-family: $font-family;
}
.font-serif {
    font-family: $serif-font-family;
}
