.m-0 {
    margin: 0 !important;
}
.m-1 {
    margin: 0.25rem !important;
}
.m-2 {
    margin: 0.5rem !important;
}
.m-3 {
    margin: 0.75rem !important;
}
.m-4 {
    margin: 1rem !important;
}
.m-5 {
    margin: 1.25rem !important;
}
.m-6 {
    margin: 1.5rem !important;
}
.m-8 {
    margin: 2rem !important;
}
.m-10 {
    margin: 2.5rem !important;
}
.m-auto {
    margin: auto !important;
}

.my-0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.my-1 {
    margin-top: 0.25rem !important;
    margin-bottom: 0.25rem !important;
}
.my-2 {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}
.my-3 {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important;
}
.my-4 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.my-5 {
    margin-top: 1.25rem !important;
    margin-bottom: 1.25rem !important;
}
.my-6 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
}
.my-8 {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
}
.my-10 {
    margin-top: 2.5rem !important;
    margin-bottom: 2.5rem !important;
}
.my-auto {
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.mx-0 {
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.mx-1 {
    margin-right: 0.25rem !important;
    margin-left: 0.25rem !important;
}
.mx-2 {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}
.mx-3 {
    margin-right: 0.75rem !important;
    margin-left: 0.75rem !important;
}
.mx-4 {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}
.mx-5 {
    margin-right: 1.25rem !important;
    margin-left: 1.25rem !important;
}
.mx-6 {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important;
}
.mx-8 {
    margin-right: 2rem !important;
    margin-left: 2rem !important;
}
.mx-10 {
    margin-right: 2.5rem !important;
    margin-left: 2.5rem !important;
}
.mx-auto {
    margin-right: auto !important;
    margin-left: auto !important;
}

.mt-0 {
    margin-top: 0 !important;
}
.mt-1 {
    margin-top: 0.25rem !important;
}
.mt-2 {
    margin-top: 0.5rem !important;
}
.mt-3 {
    margin-top: 0.75rem !important;
}
.mt-4 {
    margin-top: 1rem !important;
}
.mt-5 {
    margin-top: 1.25rem !important;
}
.mt-6 {
    margin-top: 1.5rem !important;
}
.mt-8 {
    margin-top: 2rem !important;
}
.mt-10 {
    margin-top: 2.5rem !important;
}
.mt-auto {
    margin-top: auto !important;
}

.mr-0 {
    margin-right: 0 !important;
}
.mr-1 {
    margin-right: 0.25rem !important;
}
.mr-2 {
    margin-right: 0.5rem !important;
}
.mr-3 {
    margin-right: 0.75rem !important;
}
.mr-4 {
    margin-right: 1rem !important;
}
.mr-5 {
    margin-right: 1.25rem !important;
}
.mr-6 {
    margin-right: 1.5rem !important;
}
.mr-8 {
    margin-right: 2rem !important;
}
.mr-10 {
    margin-right: 2.5rem !important;
}
.mr-auto {
    margin-right: auto !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}
.mb-1 {
    margin-bottom: 0.25rem !important;
}
.mb-2 {
    margin-bottom: 0.5rem !important;
}
.mb-3 {
    margin-bottom: 0.75rem !important;
}
.mb-4 {
    margin-bottom: 1rem !important;
}
.mb-5 {
    margin-bottom: 1.25rem !important;
}
.mb-6 {
    margin-bottom: 1.5rem !important;
}
.mb-8 {
    margin-bottom: 2rem !important;
}
.mb-10 {
    margin-bottom: 2.5rem !important;
}
.mb-auto {
    margin-bottom: auto !important;
}

.ml-0 {
    margin-left: 0 !important;
}
.ml-1 {
    margin-left: 0.25rem !important;
}
.ml-2 {
    margin-left: 0.5rem !important;
}
.ml-3 {
    margin-left: 0.75rem !important;
}
.ml-4 {
    margin-left: 1rem !important;
}
.ml-5 {
    margin-left: 1.25rem !important;
}
.ml-6 {
    margin-left: 1.5rem !important;
}
.ml-8 {
    margin-left: 2rem !important;
}
.ml-10 {
    margin-left: 2.5rem !important;
}
.ml-auto {
    margin-left: auto !important;
}
