// Decoration

.underline {
    text-decoration: underline;
}
.line-through {
    text-decoration: line-through;
}
.no-underline {
    text-decoration: none;
}

// Color
.text-white {
    color: white;
}

// White Space
.whitespace-no-wrap {
    white-space: nowrap;
}

// Others
.one-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.two-line {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
