.text-left {
    text-align: left;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-justify {
    text-align: justify;
}

// Custom text classes

.text-truncate {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden !important;
}
.text-center-important {
    text-align: center !important;
}
.text-right-important {
    text-align: right !important;
}
.text-left-important {
    text-align: left !important;
}
