doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0;')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')
        base(target='_blank')
        title Panorama Email Template
        style(type='text/css').
            body *{font-family: 'Open Sans', Arial, sans-serif !important}
            div, p, a, li, td { -webkit-text-size-adjust:none; }
            *{-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
            td{word-break: break-word;}
            a{word-break: break-word; text-decoration: none; color: inherit;}
            img:hover {opacity:0.85;filter:alpha(opacity=85);}
            body .ReadMsgBody
            {width: 100%; background-color: #ffffff;}
            body .ExternalClass
            {width: 100%; background-color: #ffffff;}
            body{width: 100%; height: 100%; background-color: #ffffff; margin:0; padding:0; -webkit-font-smoothing: antialiased;}
            html{ background-color:#ffffff; width: 100%;}
            body p {padding: 0!important; margin-top: 0!important; margin-right: 0!important; margin-bottom: 0!important; margin-left: 0!important; }
            body img {user-drag: none; -moz-user-select: none; -webkit-user-drag: none;}
            body .underline:hover {text-decoration: underline!important;}
            body .hover:hover {opacity:0.85;filter:alpha(opacity=85);}
            body .jump:hover {opacity:0.75; filter:alpha(opacity=75); padding-top: 10px!important;}
            #animation {animation-name: backgroundanimate; -webkit-animation: backgroundanimate 40s linear infinite; -moz-animation: backgroundanimate 40s linear infinite; background-position: center center;}
            body .table50Left img {width: 262px; height: auto;}
            body .table50Right img {width: 262px; height: auto;}
            body .col img {width: 110px; height: 110px; border-radius: 100%!important;}
            body .clients img {width: 102px; height: auto;}
            body .long img {width: 600px; height: auto;}
            body .smallIcon img {width: 70px; height: auto;}
            body .fullImage img {width: 600px; height: auto; text-align: center; }
            body .icon24 img {width: 24px; height: auto;}
            body .logo img {width: 113px; height: auto;}
        style(type='text/css').
            @media only screen and (max-width: 640px){
                body body{width:auto!important;}
                body table[class=full] {width: 100%!important; clear: both; }
                body table[class=mobile] {width: 100%!important; padding-left: 30px; padding-right: 30px; clear: both; }
                body table[class=fullCenter] {width: 100%!important; text-align: center!important; clear: both; }
                body td[class=fullCenter] {width: 100%!important; text-align: center!important; clear: both; }
                body table[class=fullImage] {width: 100%!important; height: auto!important; text-align: center!important; clear: both; }
                body .fullImage img {width: 100%!important; height: auto!important; text-align: center!important; clear: both; }
                body table[class=table50Left] {width: 46%!important; margin-right: 15px;}
                body table[class=table50Right] {width: 46%!important; margin-left: 15px;}
                body .table50Left img {width: 100%!important; height: auto!important; text-align: center!important; clear: both; }
                body .table50Right img {width: 100%!important; height: auto!important; text-align: center!important; clear: both; }
                body table[class=col] {width: 100%!important; padding-left: 30px; padding-right: 30px; clear: both; }
                body table[class=clients] {width: 100%!important; text-align: center!important; clear: both; }
                body table[class=long] {width: 100%!important; clear: both;}
                body .long img {width: 100%!important; height: auto!important;}
                body .erase {display: none;}
                body .buttonScale {float: none!important; text-align: center!important;  display: inline-block!important; clear: both;}
                body .headerBG {width: 100%!important; height: 100%!important; background-repeat: no-repeat!important; background-size: 1700px!important; background-position: center top!important;}
            }
        style(type='text/css').
            @media only screen and (max-width: 479px){
                body body{width:auto!important;}
                body table[class=full] {width: 100%!important; clear: both; }
                body table[class=mobile] {width: 100%!important; padding-left: 30px; padding-right: 30px; clear: both; }
                body table[class=fullCenter] {width: 100%!important; text-align: center!important; clear: both; }
                body td[class=fullCenter] {width: 100%!important; text-align: center!important; clear: both; }
                body table[class=fullImage] {width: 100%!important; height: auto!important; text-align: center!important; clear: both; }
                body .fullImage img {width: 100%!important; height: auto!important; text-align: center!important; clear: both; }
                body img[class=fullImage] { width: 100%!important; height: auto!important; }
                body span[class=pad50] {padding: 40px!important;}
                body td[class=w70] {width: 70%!important;}
                body td[class=h60] {height: 60px!important;}
                body table[class=table50Left] {width: 100%!important; margin-right: 0px;}
                body table[class=table50Right] {width: 100%!important; margin-left: 0px;}
                body .table50Left img {width: 100%!important; height: auto!important; text-align: center!important; clear: both; }
                body .table50Right img {width: 100%!important; height: auto!important; text-align: center!important; clear: both; }
                body table[class=coll] {width: 100%!important; padding-left: 30px; padding-right: 30px; clear: both; }
                body table[class=clients] {width: 100%!important; text-align: center!important; clear: both; }
                body td[class=h25] {height: 25px!important;}
                body table[class=long] {width: 100%!important; clear: both;}
                body .long img {width: 100%!important; height: auto!important;}
                body .erase {display: none;}
                body .buttonScale {text-align: center!important; float: none!important;}
                body .headerBG {width: 100%!important; height: 100%!important; background-repeat: no-repeat!important; background-size: 1800px!important; background-position: center top!important;}
            }
        style(type='text/css').
            @media only screen and (max-width: 900px)
            {td[class=headerBG] {width: 100%!important; background-repeat: no-repeat!important; background-size: 1800px!important; background-position: center top!important;}}
            @keyframes animatedBackground {
                0% {background-position: -210px center;}
                25% {background-position: -420px center;}
                50% {background-position: -210px center;}
                75% {background-position: 0px center;}
                100% {background-position: -210px center;}}
            @-webkit-keyframes backgroundanimate {
                0% {background-position: -210px center;}
                25% {background-position: -420px center;}
                50% {background-position: -210px center;}
                75% {background-position: 0px center;}
                100% {background-position: -210px center;}}
            @-moz-keyframes backgroundanimate {
                0% {background-position: -210px center;}
                25% {background-position: -420px center;}
                50% {background-position: -210px center;}
                75% {background-position: 0px center;}
                100% {background-position: -210px center;}}
            @-o-keyframes backgroundanimate {
                0% {background-position: -210px center;}
                25% {background-position: -420px center;}
                50% {background-position: -210px center;}
                75% {background-position: 0px center;}
                100% {background-position: -210px center;}}
    body(style='margin: 0; padding: 0;')
        table.full(width='100%', border='0', cellpadding='0', cellspacing='0', align='center', style='z-index: 99999; top: 0px; left: 0px;')
            tbody
                tr
                    td(width='100%', valign='top', align='center', bgcolor='#ffffff')
                        table.mobile(width='600', border='0', cellpadding='0', cellspacing='0', align='center')
                            tbody
                                tr
                                    td(width='100%', align='center')
                                        // Start Nav
                                        table.full(width='100%', border='0', cellpadding='0', cellspacing='0', align='center')
                                            tbody
                                                tr
                                                    td(width='100%', height='5')
                                                tr
                                                    td(width='100%', valign='middle', align='center')
                                                        // Logo
                                                        table.fullCenter(width='150', border='0', cellpadding='0', cellspacing='0', align='left', style='text-align: left;')
                                                            tbody
                                                                tr
                                                                    td.fullCenter(height='65', valign='middle', width='100%')
                                                                        a(href='#', style='text-decoration: none;')
                                                                            img(width='113', src='images/5ab0f20d210f1artboard-1.png', alt='', border='0')
                                                        // Nav
                                                        table.fullCenter(width='400', border='0', cellpadding='0', cellspacing='0', align='right', style='text-align: right; font-size: 13px; letter-spacing: 1px;')
                                                            tbody
                                                                tr
                                                                    td(height='65', valign='middle', width='33%', style="font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-weight: 600;")
                                                                        a(href='#', style='text-decoration: none; color: #191919;') T
                                                                        | RANG CHỦ
                                                                    td(valign='middle', width='33%', style="font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-weight: 600;")
                                                                        | CÔNG CỤ
                                                                    td(valign='middle', width='33%', style="font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-weight: 600;")
                                                                        a(href='#', style='text-decoration: none; color: #191919;') L
                                                                        | IÊN HỆ
                                        // End Nav
        table.full(width='100%', border='0', cellpadding='0', cellspacing='0', align='center', style='z-index: 99999; top: 0px; left: 0px;')
            tbody
                tr
                    td#animation.headerBG(align='center', bgcolor='#303030', style="background-image: url('images/header_bg2.jpg'); background-position: center center; background-repeat:no-preat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-size: 160% auto;")
                        //if gte mso 9
                          v:rect(xmlns:v='urn:schemas-microsoft-com:vml', fill='true', stroke='false', style='mso-width-percent:1000;')
                            v:fill(type='tile', src='images/header_bg2.jpg')
                              v:textbox(style='mso-fit-shape-to-text:true', inset='0,0,0,0')
                        div
                            table.mobile(width='600', border='0', cellpadding='0', cellspacing='0', align='center')
                                tbody
                                    tr
                                        td(width='100%', align='center')
                                            // Start Header Text
                                            table.full(width='100%', border='0', cellpadding='0', cellspacing='0', align='center')
                                                tbody
                                                    tr
                                                        td(width='100%', height='140')
                                                    tr
                                                        td(width='100%', valign='middle', align='center')
                                                            // Header Text
                                                            table.fullCenter(width='600', border='0', cellpadding='0', cellspacing='0', align='right', style='text-align: center;')
                                                                tbody
                                                                    tr
                                                                        td(valign='middle', width='100%', style="text-align: center; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-weight: 700; font-size: 33px; color: #ffffff; line-height: 38px;")
                                                                            | Xin chào #{name}
                                                                    tr
                                                                        td(width='100%', height='12')
                                                                    tr
                                                                        td(valign='middle', width='100%', style="text-align: center; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-weight: 400; font-size: 15px; color: #ffffff;")
                                                                            | Cảm ơn bạn đã tham gia hệ thống Mã Vận Đơn. Chỉ còn một bước cuối cùng trước khi bạn có thể sử dụng hệ thống. Vui lòng click vào nút bên dưới để kích hoạt tài khoản của bạn!
                                                                    tr
                                                                        td(width='100%', height='60')
                                                                    // Button Center
                                                                    tr
                                                                        td(align='center')
                                                                            span.featuredHolder
                                                                                span.featuredHolder
                                                                                    span.featuredHolder
                                                                                        span.featuredHolder
                                                                                            span.featuredHolder
                                                                                                span.featuredHolder
                                                                                                    span.featuredHolder
                                                                                                        table(border='0', cellpadding='0', cellspacing='0', align='center', style='border-width: 1px; border-style: solid; border-color: #ffffff;')
                                                                                                            tbody
                                                                                                                tr
                                                                                                                    td(align='center', height='50', bgcolor='#67c890', style="padding-left: 32px; padding-right: 32px; font-weight: 600; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; color: #ffffff; text-transform: uppercase; font-size: 15px;")
                                                                                                                        a(href=`${activateLink}`) KÍCH HOẠT
                                                                    // End Button Center
                                                    tr
                                                        td(width='100%', height='150')
                                            // End Header Text
                        //if gte mso 9.
        table.full(width='100%', border='0', cellpadding='0', cellspacing='0', align='center')
            tbody
                tr
                    td(width='100%', valign='top', bgcolor='#f6f6f6', align='center')
                        table.mobile(width='100%', border='0', cellpadding='0', cellspacing='0', align='center')
                            tbody
                                tr
                                    td(align='center')
                                        table.full(width='600', border='0', cellpadding='0', cellspacing='0', align='center')
                                            tbody
                                                tr
                                                    td(width='100%', align='center')
                                                        table.full(width='100%', border='0', cellpadding='0', cellspacing='0', align='center')
                                                            tbody
                                                                tr
                                                                    td(width='100%', height='60')
                                                        // Footer Left
                                                        table.fullCenter(width='170', border='0', cellpadding='0', cellspacing='0', align='left', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                                            tbody
                                                                tr
                                                                    td.fullCenter(width='100%', style="font-size: 14px; color: #191919; text-align: left; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-weight: 600; line-height: 24px; vertical-align: top;")
                                                                        | Về Chúng Tôi
                                                                tr
                                                                    td(width='100%', height='10')
                                                                tr
                                                                    td.fullCenter(width='100%', style="font-size: 12px; color: #969696; text-align: left; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-weight: 400; line-height: 20px; vertical-align: top;")
                                                                        | Mã Vận Đơn là một ứng dụng được xây dựng để hỗ trợ bạn, những doanh nhân online.
                                                        table.full(width='50', border='0', cellpadding='0', cellspacing='0', align='left', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                                            tbody
                                                                tr
                                                                    td(width='100%', height='40')
                                                        // Footer Middle
                                                        table.fullCenter(width='170', border='0', cellpadding='0', cellspacing='0', align='left', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                                            tbody
                                                                tr
                                                                    td.fullCenter(width='100%', style="font-size: 14px; color: #191919; text-align: left; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-weight: 600; line-height: 24px; vertical-align: top;")
                                                                        | Social Media
                                                                tr
                                                                    td(width='100%', height='10')
                                                                tr
                                                                    td.fullCenter(width='100%', style="font-size: 12px; color: #969696; text-align: left; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-weight: 400; line-height: 20px; vertical-align: top;")
                                                                        | Để được hỗ trợ, bạn hoàn toàn có thể liên hệ với chúng tôi qua các mạng xã hội,.
                                                                        br
                                                                        br
                                                                tr
                                                                    td(width='100%', height='5')
                                                                tr
                                                                    td.icon24(width='100%')
                                                                        table(width='170', border='0', cellpadding='0', cellspacing='0', align='center', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                                                            tbody
                                                                                tr
                                                                                    td(width='24', height='24', style='text-align: center; line-height: 1px;')
                                                                                        a(href='#', style='text-decoration: none;')
                                                                                            img(src='images/icon1.jpg', width='24', alt='', border='0')
                                                                                    td(width='6')
                                                                                    td(width='24', height='24', style='text-align: center; line-height: 1px;')
                                                                                    td(width='6')
                                                                                    td(width='24', height='24', style='text-align: center; line-height: 1px;')
                                                                                    td(width='6')
                                                                                    td(width='24', height='24', style='text-align: center; line-height: 1px;')
                                                                                    td(width='6')
                                                                                    td(width='24', height='24', style='text-align: center; line-height: 1px;')
                                                        table.full(width='1', border='0', cellpadding='0', cellspacing='0', align='left', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                                            tbody
                                                                tr
                                                                    td(width='100%', height='40')
                                                        // Footer Right
                                                        table.fullCenter(width='170', border='0', cellpadding='0', cellspacing='0', align='right', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                                            tbody
                                                                tr
                                                                    td.fullCenter(width='100%', style="font-size: 14px; color: #191919; text-align: left; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-weight: 600; line-height: 24px; vertical-align: top;")
                                                                        | Liên hệ
                                                                tr
                                                                    td(width='100%', height='10')
                                                                tr
                                                                    td.fullCenter(width='100%', style="font-size: 12px; color: #969696; text-align: left; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-weight: 400; line-height: 20px; vertical-align: top;")
                                                                        a(href='#', style='text-decoration: none; color: #969696;') www.
                                                                        | mavandon.info
                                                                        br
                                                                        | info@mavandon.info
                                                                        br
                                                                        br
                                        // CopyRight
                                        table.fullCenter(width='600', border='0', cellpadding='0', cellspacing='0', align='center', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                            tbody
                                                tr
                                                    td(width='100%', height='30')
                                                tr
                                                    td.fullCenter(width='100%', style="font-size: 12px; color: #969696; text-align: center; font-family: Helvetica, Arial, sans-serif, 'Open Sans'; font-weight: 400; line-height: 20px; vertical-align: top;")
                                                        | Copyright © MaVanDon 2018, All rights reserved.
                                        table.full(width='100%', border='0', cellpadding='0', cellspacing='0', align='left', style='border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt;')
                                            tbody
                                                tr
                                                    td(width='100%', height='30')
                                                tr
                                                    td(width='100%', height='1')
