.agent-wrapper {
    // margin: 0 -32px;
    // padding: 0 16px;
    margin: -24px !important;
    img {
        border-radius: 4px;
    }
    .listed-count {
        font-weight: 600;
        min-width: 24px;
    }
}
