<app-header-image
    [backgroundImage]="'assets/images/others/homepage.jpg'"
    [bgImageAnimate]="true"
    [contentOffsetToTop]="true"
    [title]="'findYourDreamHouse' | translate"
    [desc]="'findYourDreamHouse2' | translate"
    [isHomePage]="true"
>
</app-header-image>

<div class="theme-container">
    <mat-card class="main-content-header">
        <app-properties-search (searchClick)="searchClicked($event)"> </app-properties-search>
    </mat-card>
</div>

<div class="section p-6 bg-grey">
    <div class="theme-container">
        <ng-container *ngLet="homePageProjects$ | async as homePageProjects">
            <h1 class="section-title">{{ 'latestProjects' | translate }}</h1>
            <div fxLayout="row wrap" class="properties-wrapper">
                <div fxFlex="100" class="p-2">
                    <app-projects-toolbar [isHomePage]="true" (sortOptionChange)="getProjects($event)"></app-projects-toolbar>
                </div>
                <ng-container *ngIf="homePageProjects?.length > 0; else empty_list">
                    <div
                        *ngFor="let project of homePageProjects"
                        fxFlex="33.33"
                        fxFlex.lt-md="50"
                        fxFlex.lt-sm="100"
                        class="item"
                    >
                        <app-project-item [project]="project"></app-project-item>
                    </div>
                </ng-container>
                <ng-template #empty_list>
                    <div fxFlex="100" fxLayoutAlign="center center" [style.min-height.px]="200" class="mt-6">
                        <p class="text-muted">{{ 'noResultFound' | translate }}</p>
                    </div>
                </ng-template>
            </div>
        </ng-container>
    </div>
</div>

<div class="section px-6">
    <div class="theme-container">
        <ng-container *ngLet="homePageProperties$ | async as homePageProperties">
            <h1 class="section-title">{{ 'latestProperties' | translate }}</h1>
            <div fxLayout="row wrap" class="properties-wrapper">
                <ng-container>
                    <ng-container *ngIf="homePageProperties?.length > 0; else empty_list">
                        <div
                            *ngFor="let property of homePageProperties"
                            fxFlex="33.33"
                            fxFlex.lt-md="50"
                            fxFlex.lt-sm="100"
                            class="item"
                        >
                            <app-property-item [property]="property"></app-property-item>
                        </div>
                    </ng-container>
                    <ng-template #empty_list>
                        <div fxFlex="100" fxLayoutAlign="center center" [style.min-height.px]="200" class="mt-6">
                            <p class="text-muted">{{ 'noResultFound' | translate }}</p>
                        </div>
                    </ng-template>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>

<app-mission></app-mission>

<app-our-services></app-our-services>

<app-clients></app-clients>

<app-get-in-touch></app-get-in-touch>
