<mat-card fxLayout="row" fxLayoutAlign="space-between center" class="w-full p-2 filter-row mat-elevation-z1 text-muted">
    <div>
        <a mat-button [matMenuTriggerFor]="sortMenu" #sortMenuTrigger="matMenuTrigger">
            {{ sort | appData: appDataType.ProjectSortOption | translate
            }}<mat-icon class="mat-icon-sm caret">arrow_drop_down</mat-icon>
        </a>
        <mat-menu #sortMenu="matMenu" xPosition="before" overlapTrigger="true">
            <span (mouseleave)="sortMenuTrigger.closeMenu()">
                <button mat-menu-item *ngFor="let sort of sortOptions" (click)="changeSortOption(sort)">
                    <span>{{ sort | appData: appDataType.ProjectSortOption | translate }}</span>
                </button>
            </span>
        </mat-menu>
    </div>
</mat-card>
