<div class="p-3">
    <div class="theme-container">
        <mat-card class="p-5">
            <div fxLayout="row wrap">
                <div fxFlex="100" class="p-3 text-center">
                    <h1 class="font-semibold">{{ 'complete' | translate }}</h1>
                    <p class="text-muted">
                        Cảm ơn bạn đã sủ dụng dịch vụ của SoHuu.VN để đăng tin. Chúc tôi sẽ liên hệ lại bạn trong thời
                        gian sớm nhất!
                    </p>
                </div>
                <div fxFlex="100" class="pt-3 text-center">
                    <button mat-raised-button color="accent" [routerLink]="'/'" type="button">
                        {{ 'backToHomePage' | translate }}
                    </button>
                </div>
            </div>
        </mat-card>
    </div>
</div>
