.summary {
    span {
        margin-bottom: 1rem;
        line-height: 1.7;
    }
}

/******* Submit Property *******/
.submit-property {
    .step-content {
        max-width: 900px;
        margin: 0 auto;
    }

    .step-section {
        padding: 20px 10px 0;
        border-radius: 4px;
        margin: 8px 8px 16px;
    }
}
