<div class="p-6">
    <div class="theme-container">
        <mat-card ngClass.lt-lg="p-0" [formGroup]="form">
            <mat-horizontal-stepper
                #horizontalStepper
                linear="true"
                class="submit-property"
                (selectionChange)="onSelectionChange($event)"
            >
                <mat-step [stepControl]="basicForm" [label]="'basic' | translate" [completed]="true">
                    <div class="step-content">
                        <form formGroupName="basic" fxLayout="row wrap">
                            <div fxFlex="100" class="p-6 text-center">
                                <span class="font-sans text-3xl font-semibold my-3">
                                    {{ 'basicInfo' | translate }}
                                </span>
                            </div>

                            <div fxFlex="100" class="px-2">
                                <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                                    <mat-label>{{ 'title' | translate }}</mat-label>
                                    <input
                                        matInput
                                        [placeholder]="'titleHint' | translate"
                                        formControlName="title"
                                        required
                                        autocomplete="off"
                                    />
                                    <mat-error *ngIf="basicControls.title.errors?.required">{{
                                        'errorInputIsRequired' | translate
                                    }}</mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="100" fxLayout="column" class="px-2 h-full mb-3">
                                <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                                    <mat-label>{{ 'description' | translate }}</mat-label>
                                    <mat-quill
                                        class="mb-6"
                                        formControlName="description"
                                        [placeholder]="'descriptionHint' | translate"
                                    >
                                    </mat-quill>
                                    <mat-error *ngIf="basicControls.description.errors?.required">{{
                                        'errorInputIsRequired' | translate
                                    }}</mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                                <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                                    <mat-label>{{ 'propertyType' | translate }}</mat-label>
                                    <mat-select
                                        [placeholder]="'propertyTypeHint' | translate"
                                        formControlName="propertyType"
                                        required
                                    >
                                        <mat-option *ngFor="let propertyType of propertyTypes" [value]="propertyType">
                                            {{ propertyType | appData: appDataType.PropertyType | translate }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="basicControls.propertyType.errors?.required">{{
                                        'errorOptionIsRequired' | translate
                                    }}</mat-error>
                                </mat-form-field>
                            </div>

                            <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                                <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                                    <mat-label>{{ 'propertyStatus' | translate }}</mat-label>
                                    <mat-select
                                        [placeholder]="'propertyStatusHint' | translate"
                                        formControlName="propertyStatus"
                                        multiple
                                    >
                                        <mat-option
                                            *ngFor="let propertyStatus of propertyStatuses"
                                            [value]="propertyStatus"
                                        >
                                            {{ propertyStatus | appData: appDataType.PropertyStatus | translate }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="basicControls.propertyStatus.errors?.required">{{
                                        'errorOptionIsRequired' | translate
                                    }}</mat-error>
                                </mat-form-field>
                            </div>
                            <ng-container *ngIf="isRentAvailable">
                                <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                                    <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                                        <mat-label>{{ 'rentPrice' | translate }}</mat-label>
                                        <input
                                            matInput
                                            mask="separator.0"
                                            thousandSeparator=","
                                            suffix=" /tháng"
                                            [placeholder]="'rentPriceHint' | translate"
                                            formControlName="rentPrice"
                                            autocomplete="off"
                                        />
                                        <mat-error *ngIf="basicControls.rentPrice.errors?.required">{{
                                            'errorInputIsRequired' | translate
                                        }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxFlex="100" fxFlex.gt-xs="50" class="px-2 mt-6">
                                    <mat-checkbox formControlName="rentNegotiable" labelPosition="after">
                                        {{ 'negotiable' | translate }}
                                    </mat-checkbox>
                                </div>
                            </ng-container>
                            <ng-container *ngIf="isSaleAvailable">
                                <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                                    <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                                        <mat-label>{{ 'salePrice' | translate }}</mat-label>
                                        <input
                                            matInput
                                            mask="separator.0"
                                            thousandSeparator=","
                                            [placeholder]="'salePriceHint' | translate"
                                            formControlName="salePrice"
                                            autocomplete="off"
                                        />
                                        <mat-error *ngIf="basicControls.salePrice.errors?.required">{{
                                            'errorInputIsRequired' | translate
                                        }}</mat-error>
                                    </mat-form-field>
                                </div>

                                <div fxFlex="100" fxFlex.gt-xs="50" class="px-2 mt-6">
                                    <mat-checkbox formControlName="saleNegotiable" labelPosition="after">
                                        {{ 'negotiable' | translate }}
                                    </mat-checkbox>
                                </div>
                            </ng-container>

                            <div fxFlex="100" class="step-section pb-2">
                                <p class="mb-2">
                                    <span class="uppercase font-semibold">{{ 'gallery' | translate }}</span
                                    ><span class="text-muted mx-6">{{
                                        'maximumImagesCount' | translate: { count: 8 }
                                    }}</span>
                                </p>
                                <file-pond #myPond [options]="pondOptions" [files]="pondFiles"> </file-pond>
                            </div>

                            <div fxFlex="100" class="mt-6 p-2" fxLayoutAlign="end center">
                                <button
                                    mat-raised-button
                                    color="primary"
                                    matStepperNext
                                    fxLayout="row"
                                    fxLayoutAlign="center center"
                                    type="button"
                                >
                                    <span class="mx-1 uppercase">{{ 'next' | translate }}</span>
                                    <mat-icon>navigate_next</mat-icon>
                                </button>
                            </div>
                        </form>
                    </div>
                </mat-step>

                <mat-step [stepControl]="addressForm" [label]="'address' | translate">
                    <div class="step-content">
                        <form formGroupName="address" fxLayout="row wrap">
                            <div fxFlex="100" class="p-6 text-center">
                                <span class="font-sans text-3xl font-semibold my-3">
                                    {{ 'address' | translate }}
                                </span>
                            </div>

                            <div fxFlex="100" class="px-2">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-icon matPrefix class="mr-1 text-muted">location_on</mat-icon>
                                    <mat-label>{{ 'address' | translate }}</mat-label>
                                    <input
                                        matInput
                                        [placeholder]="'addressHint' | translate"
                                        formControlName="location"
                                        autocomplete="off"
                                        [matAutocomplete]="addressAutocomplete"
                                    />
                                    <button
                                        *ngIf="addressControls.location.value"
                                        mat-button
                                        matSuffix
                                        mat-icon-button
                                        (click)="addressControls.location.setValue(null)"
                                        type="button"
                                    >
                                        <mat-icon>close</mat-icon>
                                    </button>
                                    <mat-error *ngIf="addressControls.location.errors?.required">{{
                                        'errorInputIsRequired' | translate
                                    }}</mat-error>
                                    <mat-hint>
                                        {{ 'startTypingForLocationSuggestion' | translate }}
                                    </mat-hint>
                                    <mat-autocomplete
                                        #addressAutocomplete="matAutocomplete"
                                        [displayWith]="getFullLocation"
                                    >
                                        <mat-option *ngFor="let option of filteredAddress | async" [value]="option">{{
                                            option.fullLocation
                                        }}</mat-option>
                                    </mat-autocomplete>
                                </mat-form-field>
                            </div>

                            <div fxFlex="100" class="px-2 mb-6">
                                <p class="text-muted" [innerHTML]="'mapAccuracyHint' | translate"></p>
                                <app-property-map
                                    #map
                                    [location]="location$"
                                    (locationChange)="updateCoordinates($event)"
                                ></app-property-map>
                            </div>

                            <app-administrative-units
                                fxFlex="100"
                                [parentForm]="addressForm"
                                [isEditing]="isEditing"
                            ></app-administrative-units>

                            <div fxFlex="100" class="mt-6 p-2" fxLayoutAlign="space-between center">
                                <button
                                    mat-raised-button
                                    color="primary"
                                    matStepperPrevious
                                    fxLayout="row"
                                    fxLayoutAlign="center center"
                                    type="button"
                                >
                                    <mat-icon>navigate_before</mat-icon>
                                    <span class="mx-1 uppercase">{{ 'back' | translate }}</span>
                                </button>
                                <button
                                    mat-raised-button
                                    color="primary"
                                    matStepperNext
                                    fxLayout="row"
                                    fxLayoutAlign="center center"
                                    type="button"
                                >
                                    <span class="mx-1 uppercase">{{ 'next' | translate }}</span>
                                    <mat-icon>navigate_next</mat-icon>
                                </button>
                            </div>
                        </form>
                    </div>
                </mat-step>

                <mat-step [stepControl]="additionalForm" [label]="'additional' | translate">
                    <div class="step-content">
                        <form formGroupName="additional" fxLayout="row wrap">
                            <div fxFlex="100" class="p-6 text-center">
                                <span class="font-sans text-3xl font-semibold my-3">
                                    {{ 'additionalInfo' | translate }}
                                </span>
                            </div>
                            <div fxFlex="100" class="mb-2">
                                <p class="uppercase m-2 font-semibold">{{ 'houseStructure' | translate }}</p>
                            </div>

                            <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>{{ 'bedroomCount' | translate }}</mat-label>
                                    <input
                                        matInput
                                        [placeholder]="'bedroomCountHint' | translate"
                                        autocomplete="off"
                                        formControlName="bedrooms"
                                        onlyNumber
                                        maxlength="2"
                                    />
                                </mat-form-field>
                            </div>

                            <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>{{ 'bathroomCount' | translate }}</mat-label>
                                    <input
                                        matInput
                                        [placeholder]="'bathroomCountHint' | translate"
                                        autocomplete="off"
                                        formControlName="bathrooms"
                                        onlyNumber
                                        maxlength="2"
                                    />
                                </mat-form-field>
                            </div>

                            <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>{{ 'floorCount' | translate }}</mat-label>
                                    <input
                                        matInput
                                        [placeholder]="'floorCountHint' | translate"
                                        autocomplete="off"
                                        formControlName="floors"
                                        onlyNumber
                                        maxlength="2"
                                    />
                                </mat-form-field>
                            </div>

                            <div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                                <mat-form-field appearance="outline" class="w-full">
                                    <mat-label>{{ 'propertyArea' | translate }}</mat-label>
                                    <input
                                        matInput
                                        [placeholder]="'propertyAreaHint' | translate"
                                        autocomplete="off"
                                        formControlName="area"
                                        onlyNumber
                                    />
                                </mat-form-field>
                            </div>

                            <div fxFlex="100" class="mb-2">
                                <p class="uppercase m-2 font-semibold">{{ 'fengshui' | translate }}</p>
                            </div>

                            <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
                                <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                                    <mat-label>{{ 'mainDoorDirection' | translate }}</mat-label>
                                    <mat-select formControlName="mainDoorDirection">
                                        <mat-option
                                            *ngFor="let propertyDirection of propertyDirections"
                                            [value]="propertyDirection"
                                        >
                                            {{ propertyDirection | appData: appDataType.PropertyDirection | translate }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
                                <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                                    <mat-label>{{ 'balconyDirection' | translate }}</mat-label>
                                    <mat-select formControlName="balconyDirection">
                                        <mat-option
                                            *ngFor="let propertyDirection of propertyDirections"
                                            [value]="propertyDirection"
                                        >
                                            {{ propertyDirection | appData: appDataType.PropertyDirection | translate }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
                                <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                                    <mat-label>{{ 'kitchenDirection' | translate }}</mat-label>
                                    <mat-select formControlName="kitchenDirection">
                                        <mat-option
                                            *ngFor="let propertyDirection of propertyDirections"
                                            [value]="propertyDirection"
                                        >
                                            {{ propertyDirection | appData: appDataType.PropertyDirection | translate }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxFlex="100" class="mb-2">
                                <p class="uppercase m-2 font-semibold">{{ 'legal' | translate }}</p>
                            </div>

                            <div fxFlex="100" fxFlex.gt-xs="33.3" class="px-2">
                                <mat-form-field appearance="outline" floatLabel="always" class="w-full">
                                    <mat-label>{{ 'legal' | translate }}</mat-label>
                                    <mat-select formControlName="legal">
                                        <mat-option
                                            *ngFor="let propertyLegal of propertyLegals"
                                            [value]="propertyLegal"
                                        >
                                            {{ propertyLegal | appData: appDataType.PropertyLegal | translate }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                            <div fxFlex="100" class="mb-2">
                                <p class="uppercase m-2 font-semibold">{{ 'features' | translate }}</p>
                                <div formArrayName="features" fxLayout="row wrap">
                                    <div
                                        [formGroupName]="i"
                                        *ngFor="let control of additionalControls.features['controls']; index as i"
                                        class="p-2"
                                    >
                                        <mat-checkbox formControlName="selected">{{
                                            control.value.id | appData: appDataType.PropertyFeature | translate
                                        }}</mat-checkbox>
                                    </div>
                                </div>
                            </div>

                            <div fxFlex="100" fxLayoutAlign="start center" class="my-4 px-2">
                                <p class="mb-0 uppercase font-semibold">
                                    {{ 'addAdditionalFeatures' | translate }}
                                </p>
                                <button
                                    type="button"
                                    mat-icon-button
                                    color="primary"
                                    (click)="addFeature()"
                                    [matTooltip]="'addFeature' | translate"
                                    matTooltipPosition="after"
                                >
                                    <mat-icon>add_circle</mat-icon>
                                </button>
                            </div>
                            <div formArrayName="additionalFeatures" fxFlex="100" fxLayout="row wrap">
                                <div
                                    *ngFor="
                                        let item of additionalControls.additionalFeatures['controls'];
                                        let i = index
                                    "
                                    fxFlex="100"
                                    class="step-section"
                                >
                                    <div fxFlex="4" class="font-semibold text-center pt-4">{{ i + 1 }}.</div>
                                    <div [formGroupName]="i" fxFlex="90" fxLayout="row wrap">
                                        <mat-form-field
                                            appearance="outline"
                                            fxFlex="100"
                                            fxFlex.gt-xs="40"
                                            class="px-2"
                                        >
                                            <mat-label>{{ 'featureName' | translate }}</mat-label>
                                            <input
                                                matInput
                                                placeholder="Feature name"
                                                formControlName="name"
                                                autocomplete="off"
                                            />
                                            <mat-error *ngIf="item['controls'].name.errors?.required">{{
                                                'errorInputIsRequired' | translate
                                            }}</mat-error>
                                        </mat-form-field>
                                        <mat-form-field
                                            appearance="outline"
                                            fxFlex="100"
                                            fxFlex.gt-xs="60"
                                            class="px-2"
                                        >
                                            <mat-label>{{ 'featureValue' | translate }}</mat-label>
                                            <input matInput formControlName="value" autocomplete="off" />
                                            <mat-error *ngIf="item['controls'].value.errors?.required">{{
                                                'errorInputIsRequired' | translate
                                            }}</mat-error>
                                        </mat-form-field>
                                    </div>
                                    <div fxFlex="6" class="text-center pt-2">
                                        <button
                                            mat-icon-button
                                            color="warn"
                                            (click)="deleteFeature(i)"
                                            matTooltip="Delete Feature"
                                        >
                                            <mat-icon>cancel</mat-icon>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div fxFlex="100" class="mt-4 p-2" fxLayoutAlign="space-between center">
                                <button
                                    mat-raised-button
                                    color="primary"
                                    matStepperPrevious
                                    fxLayout="row"
                                    fxLayoutAlign="center center"
                                    type="button"
                                >
                                    <mat-icon>navigate_before</mat-icon>
                                    <span class="mx-1 uppercase">{{ 'back' | translate }}</span>
                                </button>
                                <button
                                    mat-raised-button
                                    color="primary"
                                    matStepperNext
                                    fxLayout="row"
                                    fxLayoutAlign="center center"
                                    type="button"
                                >
                                    <span class="mx-1 uppercase">{{ 'next' | translate }}</span>
                                    <mat-icon>navigate_next</mat-icon>
                                </button>
                            </div>
                        </form>
                    </div>
                </mat-step>

                <mat-step [label]="'confirmation' | translate">
                    <div class="step-content">
                        <div fxLayout="column" fxLayoutAlign="center center" class="pt-10 text-center">
                            <button mat-fab color="primary">
                                <mat-icon>check</mat-icon>
                            </button>
                            <div fxFlex="100" class="p-6 text-center">
                                <span class="font-sans text-3xl font-semibold my-3">
                                    {{ 'confirmInformation' | translate }}
                                </span>
                            </div>
                            <div class="text-2xl my-4">
                                {{ 'thanksForSubmitting' | translate }}
                                <br />
                                <span class="text-primary">"{{ basicControls.title.value }}"</span>
                            </div>
                            <p class="text-muted" [innerHTML]="'noteBeforeVerifying' | translate"></p>
                            <div fxLayout="row wrap" class="summary step-content text-left">
                                <span fxFlex="100" class="mat-headline">{{ 'basic' | translate }}</span>

                                <span fxFlex="100" fxFlex.gt-sm="33.33" class="font-semibold">{{
                                    'title' | translate
                                }}</span>
                                <span fxFlex="100" fxFlex.gt-sm="66.67">{{ basicControls['title']?.value }}</span>

                                <span fxFlex="100" fxFlex.gt-sm="33.33" class="font-semibold">{{
                                    'description' | translate
                                }}</span>
                                <quill-view-html
                                    fxFlex="100"
                                    fxFlex.gt-sm="66.67"
                                    [content]="basicControls['description']?.value"
                                    theme="snow"
                                ></quill-view-html>

                                <span fxFlex="100" fxFlex.gt-sm="33.33" class="font-semibold">{{
                                    'propertyType' | translate
                                }}</span>
                                <span fxFlex="100" fxFlex.gt-sm="66.67">{{
                                    basicControls['propertyType']?.value.value | translate
                                }}</span>

                                <ng-container *ngLet="getPropertyStatuses() as statuses">
                                    <ng-container *ngFor="let status of statuses">
                                        <span fxFlex="100" fxFlex.gt-sm="33.33" class="font-semibold">{{
                                            status.status | appData: appDataType.PropertyStatus | translate
                                        }}</span>
                                        <span fxFlex="100" fxFlex.gt-sm="66.67"
                                            >{{ status.info.price | mask: 'separator.0':',' }} ({{
                                                status.info.negotiable | translate
                                            }})</span
                                        >
                                    </ng-container>
                                </ng-container>

                                <span fxFlex="100" class="mat-headline">{{ 'address' | translate }}</span>
                                <span fxFlex="100" fxFlex.gt-sm="33.33" class="font-semibold">{{
                                    'address' | translate
                                }}</span>
                                <span fxFlex="100" fxFlex.gt-sm="66.67">{{ getAdministrativeDivisionAddress() }}</span>

                                <span fxFlex="100" class="mat-headline">{{ 'additional' | translate }}</span>

                                <span fxFlex="100" fxFlex.gt-sm="33.33" class="font-semibold"
                                    >{{ 'bedroomCount' | translate }}: {{ additionalControls['bedrooms']?.value }}</span
                                >
                                <span fxFlex="100" fxFlex.gt-sm="33.33" class="font-semibold"
                                    >{{ 'bathroomCount' | translate }}:
                                    {{ additionalControls['bathrooms']?.value }}</span
                                >
                                <span fxFlex="100" fxFlex.gt-sm="33.33" class="font-semibold"
                                    >{{ 'floorCount' | translate }}: {{ additionalControls['floors']?.value }}</span
                                >

                                <span fxFlex="100" fxFlex.gt-sm="33.33" class="font-semibold"
                                    >{{ 'propertyArea' | translate }}: {{ additionalControls['area']?.value }}</span
                                >

                                <span fxFlex="100" class="mat-headline">{{ 'fengshui' | translate }}</span>

                                <span fxFlex="100" fxFlex.gt-sm="33.33">
                                    <span class="font-semibold">{{ 'mainDoorDirection' | translate }}:</span><br />
                                    {{
                                        additionalControls['mainDoorDirection']?.value
                                            | appData: appDataType.PropertyDirection
                                            | translate
                                    }}
                                </span>
                                <span fxFlex="100" fxFlex.gt-sm="33.33">
                                    <span class="font-semibold">{{ 'balconyDirection' | translate }}:</span><br />
                                    {{
                                        additionalControls['balconyDirection']?.value
                                            | appData: appDataType.PropertyDirection
                                            | translate
                                    }}
                                </span>
                                <span fxFlex="100" fxFlex.gt-sm="33.33">
                                    <span class="font-semibold">{{ 'kitchenDirection' | translate }}:</span><br />
                                    {{
                                        additionalControls['kitchenDirection']?.value
                                            | appData: appDataType.PropertyDirection
                                            | translate
                                    }}
                                </span>

                                <span fxFlex="100" class="mat-headline">{{ 'features' | translate }}</span>
                                <ng-container *ngIf="getFeatures() as features">
                                    <span *ngFor="let feature of features" fxFlex="50" fxFlex.gt-sm="25"
                                        ><span class="font-semibold">{{
                                            feature | appData: appDataType.PropertyFeature | translate
                                        }}</span>
                                    </span>
                                </ng-container>
                                <ng-container *ngLet="getAdditionalFeatures() as features">
                                    <span *ngFor="let feature of features" fxFlex="50" fxFlex.gt-sm="25"
                                        ><span class="font-semibold">{{ feature.name }}</span>
                                        <ng-container *ngIf="feature.value">
                                            :<br />
                                            {{ feature.value }}
                                        </ng-container>
                                    </span>
                                </ng-container>
                            </div>
                            <p class="text-muted" [innerHTML]="'noteBeforeSubmitting' | translate"></p>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="center center" class="pt-4">
                            <button mat-raised-button color="accent" (click)="submitProperty()" type="button">
                                {{ 'iConfirmed' | translate }}
                            </button>
                        </div>
                    </div>
                </mat-step>
            </mat-horizontal-stepper>
        </mat-card>
    </div>
</div>
