<form [formGroup]="form" class="search-wrapper variant-1">
    <div [fxLayout]="alignment === 'vertical' ? 'column' : 'row wrap'">
        <div fxFlex="33.33" fxFlex.lt-md="50" fxFlex.lt-sm="100" class="p-2">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>{{ 'youWant' | translate }}</mat-label>
                <mat-select [placeholder]="'rentOrBuy' | translate" formControlName="propertyStatus">
                    <mat-option *ngFor="let propertyStatus of propertyStatuses" [value]="propertyStatus">
                        {{ getPropertyStatus(propertyStatus) | translate }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div fxFlex="33.33" fxFlex.lt-md="50" fxFlex.lt-sm="100" class="p-2">
            <mat-form-field appearance="outline" floatLabel="always">
                <mat-label>{{ 'propertyType' | translate }}</mat-label>
                <mat-select [placeholder]="'houseOrApartment' | translate" formControlName="propertyType">
                    <mat-option *ngFor="let propertyType of propertyTypes" [value]="propertyType">
                        {{ propertyType | appData: appDataType.PropertyType | translate }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div fxFlex="33.33" fxFlex.lt-md="100" class="p-2">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxFlex="45">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label>{{ 'price' | translate }}</mat-label>
                        <input
                            matInput
                            mask="separator.0"
                            thousandSeparator=","
                            autocomplete="off"
                            [placeholder]="'from' | translate"
                            formControlName="priceFrom"
                            type="text"
                        />
                    </mat-form-field>
                </div>
                <div fxFlex="10" class="text-center">
                    <mat-icon class="text-muted">remove</mat-icon>
                </div>
                <div fxFlex="45">
                    <mat-form-field appearance="outline" floatLabel="always">
                        <mat-label></mat-label>
                        <input
                            matInput
                            mask="separator.0"
                            thousandSeparator=","
                            autocomplete="off"
                            [placeholder]="'to' | translate"
                            formControlName="priceTo"
                            type="text"
                        />
                    </mat-form-field>
                </div>
            </div>
        </div>

        <div *ngIf="showMore" [fxLayout]="alignment === 'vertical' ? 'column' : 'row wrap'" class="w-full">
            <app-administrative-units
                [alignment]="alignment"
                fxFlex="100"
                [parentForm]="form"
                [isEditing]="false"
            ></app-administrative-units>

            <div *ngIf="alignment === 'vertical'" fxLayout="row" fxLayoutAlign="end center" class="p-2">
                <button mat-raised-button color="primary" class="search-btn mx-1" (click)="search()">
                    <mat-icon>search</mat-icon> {{ 'search' | translate }}
                </button>
            </div>

            <div fxFlex="33.33" fxFlex.lt-md="50" fxFlex.lt-sm="100" class="p-2">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>{{ 'bedrooms' | translate }}</mat-label>
                    <input
                        matInput
                        [placeholder]="'bedroomCountHint' | translate"
                        autocomplete="off"
                        formControlName="bedrooms"
                        onlyNumber
                        maxlength="2"
                    />
                </mat-form-field>
            </div>

            <div fxFlex="33.33" fxFlex.lt-md="50" fxFlex.lt-sm="100" class="p-2">
                <mat-form-field appearance="outline" floatLabel="always">
                    <mat-label>{{ 'bathrooms' | translate }}</mat-label>
                    <input
                        matInput
                        [placeholder]="'bathroomCountHint' | translate"
                        autocomplete="off"
                        formControlName="bathrooms"
                        onlyNumber
                        maxlength="2"
                    />
                </mat-form-field>
            </div>

            <div fxFlex="33.33" fxFlex.lt-md="100" class="p-2">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxFlex="45">
                        <mat-form-field appearance="outline" floatLabel="always">
                            <mat-label>{{ 'propertyArea' | translate }}</mat-label>
                            <input
                                matInput
                                autocomplete="off"
                                [placeholder]="'from' | translate"
                                formControlName="areaFrom"
                                type="text"
                                onlyNumber
                            />
                        </mat-form-field>
                    </div>
                    <div fxFlex="10" class="text-center">
                        <mat-icon class="text-muted">remove</mat-icon>
                    </div>
                    <div fxFlex="45">
                        <mat-form-field appearance="outline" floatLabel="always">
                            <mat-label></mat-label>
                            <input
                                matInput
                                autocomplete="off"
                                [placeholder]="'to' | translate"
                                formControlName="areaTo"
                                type="text"
                                onlyNumber
                            />
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div *ngIf="alignment === 'vertical'" fxLayout="row" fxLayoutAlign="end center" class="p-2">
                <button mat-raised-button color="primary" class="search-btn mx-1" (click)="search()">
                    <mat-icon>search</mat-icon> {{ 'search' | translate }}
                </button>
            </div>

            <div fxFlex="100" class="mb-2">
                <p class="uppercase m-2 font-semibold">{{ 'features' | translate }}</p>
                <div formArrayName="features" [fxLayout]="alignment === 'vertical' ? 'column' : 'row wrap'">
                    <div
                        [formGroupName]="i"
                        *ngFor="let control of form['controls'].features['controls']; index as i"
                        class="p-2"
                    >
                        <mat-checkbox formControlName="selected">{{
                            control.value.id | appData: appDataType.PropertyFeature | translate
                        }}</mat-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="center center" class="p-2">
        <button
            *ngIf="alignment === 'horizontal'"
            mat-raised-button
            color="primary"
            class="uppercase mx-1"
            (click)="showMore = !showMore"
        >
            {{ (showMore ? 'collapse' : 'expand') | translate }}
        </button>
        <button mat-raised-button color="warn" class="search-btn mx-1" (click)="search()">
            <mat-icon>search</mat-icon> {{ 'search' | translate }}
        </button>
    </div>
</form>
