@import '../../theme/styles/variables';

mat-table {
    max-height: 1000px;
    overflow-y: scroll;
}

mat-cell,
mat-header-cell {
    padding: 0.5rem;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    text-align: center;
}

mat-header-cell,
mat-cell {
    place-content: center;
    align-items: center;
}

.cell-year {
    flex: 0 0 10%;
}
.cell-period {
    flex: 0 0 10%;
}
.cell-interest {
    flex: 0 0 15%;
}
.cell-installment {
    flex: 0 0 15%;
}
.cell-total {
    flex: 0 0 15%;
}
.cell-rest {
    flex: 0 0 20%;
}
.cell-annual-total {
    flex: 0 0 15%;
}

.cell-interest,
.cell-installment,
.cell-total,
.cell-rest,
.cell-annual-total {
    place-content: center flex-end;
}

mat-row {
    &.summary {
        .cell-year {
            flex: 0 0 85%;
        }
    }
    &:not(.summary) {
        .cell-year,
        .cell-rest {
            border-right: none;
        }
    }
}

.label-sm {
    display: none;
}

@media screen and (max-width: 959px) {
    mat-row {
        &.summary {
            .cell-year {
                flex: 0 0 80%;
            }
        }
    }
    .cell-annual-total {
        flex: 0 0 20%;
    }
    .cell-rest {
        flex: 0 0 15%;
    }
}

@media screen and (max-width: 599px) {
    mat-table {
        height: auto;
    }
    mat-cell[class*='cell-'] {
        padding: 1rem;
        flex: 1 !important;
        place-content: center space-between !important;
    }

    mat-cell.cell-year,
    mat-cell.cell-annual-total {
        place-content: center center !important;
    }

    mat-row:after {
        min-height: initial;
    }

    .label-sm {
        display: inline-block;
        font-weight: 500;
        margin-right: 10px;
    }
}
