<app-header-image
    [backgroundImage]="'assets/images/others/homepage.jpg'"
    [bgImageAnimate]="true"
    [contentOffsetToTop]="true"
    [title]="'Find your house key'"
    [desc]="'Leading Real Estate Company'"
    [isHomePage]="true"
>
</app-header-image>

<div class="px-6">
    <div class="theme-container">
        <mat-card class="main-content-header" fxLayout="column">
            <app-interest-inputs
                #interestInputsComponent
                (searchClick)="searchClicked($event)"
                [initialInput]="initialInterestInput"
            >
            </app-interest-inputs>
            <div *ngIf="property$ | async as property" fxLayoutAlign="center center" class="mt-3">
                <button mat-button (click)="removePropertyFromCalculator()">
                    {{ 'removePropertyFromInterestCalculator' | translate }}
                </button>
            </div>
        </mat-card>
        <div *ngIf="property$ | async as property" fxLayout="row" class="my-3">
            <app-property-item
                fxFlex="25"
                fxFlex.lt-lg="50"
                fxFlex.lt-sm="100"
                [property]="property"
            ></app-property-item>
        </div>

        <div fxLayout="row wrap" class="properties-wrapper">
            <div fxFlex="100" fxLayoutAlign="start start" class="p-2">
                <mat-table
                    [dataSource]="results"
                    class="mat-elevation-z8"
                    fxFlex="100"
                    *ngIf="results && results.length > 0"
                >
                    <ng-container matColumnDef="year">
                        <mat-header-cell class="cell-year" *matHeaderCellDef>{{ 'year' | translate }}</mat-header-cell>
                        <ng-container *matCellDef="let element; let i = index">
                            <mat-cell class="cell-year" [fxHide.lt-sm]="!isSummaryRow(i)">
                                <ng-container *ngIf="isSummaryRow(i)">
                                    <b>{{ 'yearOrder' | translate: { year: element.year + 1 } }}</b>
                                </ng-container>
                            </mat-cell>
                        </ng-container>
                    </ng-container>
                    <ng-container matColumnDef="period">
                        <mat-header-cell class="cell-period" *matHeaderCellDef>{{
                            'debtPeriodLabel' | translate
                        }}</mat-header-cell>
                        <ng-container *matCellDef="let element; let i = index">
                            <mat-cell class="cell-period" *ngIf="!isSummaryRow(i)">
                                <span class="label-sm">{{ 'debtPeriodLabel' | translate }}:</span>
                                {{ element.period }}
                            </mat-cell>
                        </ng-container>
                    </ng-container>

                    <ng-container matColumnDef="interest">
                        <mat-header-cell class="cell-interest" *matHeaderCellDef>{{
                            'interestPerMonth' | translate
                        }}</mat-header-cell>
                        <ng-container *matCellDef="let element; let i = index">
                            <mat-cell *ngIf="!isSummaryRow(i)" class="cell-interest">
                                <span class="label-sm">{{ 'interestPerMonth' | translate }}:</span>
                                {{ element.interest | mask: 'separator.0':',' }}
                            </mat-cell>
                        </ng-container>
                    </ng-container>

                    <ng-container matColumnDef="installment">
                        <mat-header-cell class="cell-installment" *matHeaderCellDef>{{
                            'installmentPerMonth' | translate
                        }}</mat-header-cell>
                        <ng-container *matCellDef="let element; let i = index">
                            <mat-cell *ngIf="!isSummaryRow(i)" class="cell-installment">
                                <span class="label-sm">{{ 'installmentPerMonth' | translate }}:</span>
                                {{ element.installment | mask: 'separator.0':',' }}
                            </mat-cell>
                        </ng-container>
                    </ng-container>

                    <ng-container matColumnDef="total">
                        <mat-header-cell class="cell-total" *matHeaderCellDef>
                            {{ 'totalPaymentPerMonth' | translate }}
                        </mat-header-cell>
                        <ng-container *matCellDef="let element; let i = index">
                            <mat-cell *ngIf="!isSummaryRow(i)" class="cell-total">
                                <span class="label-sm">{{ 'totalPaymentPerMonth' | translate }}:</span>
                                {{ element.total | mask: 'separator.0':',' }}
                            </mat-cell>
                        </ng-container>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <mat-header-cell class="cell-rest" *matHeaderCellDef>
                            {{ 'restOfDebt' | translate }}
                        </mat-header-cell>
                        <ng-container *matCellDef="let element; let i = index">
                            <mat-cell *ngIf="!isSummaryRow(i)" class="cell-rest">
                                <span class="label-sm">{{ 'restOfDebt' | translate }}:</span>
                                {{ element.amount | mask: 'separator.0':',' }}
                            </mat-cell>
                        </ng-container>
                    </ng-container>
                    <ng-container matColumnDef="annualTotal">
                        <mat-header-cell class="cell-annual-total" *matHeaderCellDef>{{
                            'totalAnnualPayment' | translate
                        }}</mat-header-cell>
                        <mat-cell
                            [fxHide.lt-sm]="!isSummaryRow(i)"
                            class="cell-annual-total"
                            *matCellDef="let element; let i = index"
                        >
                            <span class="label-sm">{{ 'totalAnnualPayment' | translate }}:</span>
                            <b>{{ element.annualTotal | mask: 'separator.0':',' }}</b>
                        </mat-cell></ng-container
                    >

                    <mat-header-row
                        *matHeaderRowDef="displayedColumns; sticky: true"
                        fxHide.lt-sm="true"
                    ></mat-header-row>
                    <mat-row
                        [ngClass]="isSummaryRow(i) ? 'summary' : ''"
                        fxLayoutAlign="center start"
                        fxLayout="row"
                        fxLayout.lt-sm="column"
                        fxLayoutAlign.lt-sm="center stretch"
                        *matRowDef="let row; let i = index; columns: displayedColumns"
                    ></mat-row>
                </mat-table>
            </div>
        </div>
    </div>
</div>
