<div [formGroup]="parentForm" [fxLayout]="alignment === 'vertical' ? 'column' : 'row wrap'">
    <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{ 'cityTitle' | translate }}</mat-label>
            <input
                matInput
                matAutocompleteExt
                [placeholder]="'cityHint' | translate"
                formControlName="city"
                [matAutocomplete]="autoCities"
            />

            <mat-autocomplete #autoCities="matAutocomplete" [displayWith]="getOptionText">
                <mat-option *ngFor="let option of filteredCities$ | async" [value]="option">
                    {{ option.name }}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="controls.city.errors?.required">{{ 'errorOptionIsRequired' | translate }}</mat-error>
        </mat-form-field>
    </div>

    <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{ 'districtTitle' | translate }}</mat-label>
            <input
                matInput
                matAutocompleteExt
                [placeholder]="'districtHint' | translate"
                formControlName="district"
                [matAutocomplete]="autoDistricts"
            />

            <mat-autocomplete #autoDistricts="matAutocomplete" [displayWith]="getOptionText">
                <mat-option *ngFor="let option of filteredDistricts$ | async" [value]="option">
                    {{ option.name }}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="controls.district.errors?.required">{{ 'errorOptionIsRequired' | translate }}</mat-error>
        </mat-form-field>
    </div>

    <div fxFlex="100" fxFlex.gt-xs="33.33" class="px-2">
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{ 'wardTitle' | translate }}</mat-label>
            <input
                matInput
                matAutocompleteExt
                [placeholder]="'wardHint' | translate"
                formControlName="ward"
                [matAutocomplete]="autoWards"
            />

            <mat-autocomplete #autoWards="matAutocomplete" [displayWith]="getOptionText">
                <mat-option *ngFor="let option of filteredWards$ | async" [value]="option">
                    {{ option.name }}
                </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="controls.ward.errors?.required">{{ 'errorOptionIsRequired' | translate }}</mat-error>
        </mat-form-field>
    </div>
</div>
