<app-header-image
    [backgroundImage]="'assets/images/others/about.jpg'"
    [bgImageAnimate]="true"
    [contentOffsetToTop]="false"
    [title]="'About Us'"
    [desc]="'We help you for find your house key'"
>
</app-header-image>

<div class="theme-container">
    <mat-card class="main-content-header">
        <div class="section pt-2">
            <div class="px-6">
                <div class="theme-container">
                    <h1 class="section-title">our story</h1>

                    <p class="px-6">
                        Nam enim diam, euismod in tincidunt in, euismod nec ligula. Aliquam erat volutpat. Integer
                        vulputate lacus a volutpat aliquet. Mauris suscipit sollicitudin purus, et congue lectus
                        dignissim vel. Vestibulum purus arcu, eleifend a odio non, bibendum dictum lectus. Nam vulputate
                        accumsan quam facilisis aliquet. Cras accumsan et elit a consequat.
                    </p>

                    <div fxLayout="row wrap">
                        <div fxFlex="100" fxFlex.gt-sm="50" class="p-6">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="mat-icon-xlg" color="primary">business</mat-icon>
                                <div class="capitalize text-2xl font-sans font-semibold mx-2">
                                    About company
                                </div>
                            </div>
                            <p class="mt-2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper lobortis
                                quam, id imperdiet mi feugiat quis. Cras a odio posuere, rhoncus quam vitae, commodo
                                neque. Nunc mollis velit vulputate, volutpat diam vitae, egestas turpis. In posuere
                                tempor lorem, sit amet pulvinar nunc accumsan a. Quisque sem tellus, congue at eleifend
                                sit amet, consectetur sit amet est. Integer sodales quam quis elit commodo consequat.
                                Aenean posuere augue a justo gravida elementum laoreet tincidunt enim. Nullam sagittis
                                mauris id dui scelerisque, eget dignissim est hendrerit. Praesent fringilla commodo
                                egestas. Suspendisse bibendum purus vitae mi mattis laoreet.
                            </p>
                        </div>

                        <div fxFlex="100" fxFlex.gt-sm="50" class="p-6">
                            <div fxLayout="row" fxLayoutAlign="start center">
                                <mat-icon class="mat-icon-xlg" color="primary">list_alt</mat-icon>
                                <div class="capitalize text-2xl font-sans font-semibold mx-2">Vision</div>
                            </div>
                            <p class="mt-2">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse semper lobortis
                                quam, id imperdiet mi feugiat quis. Cras a odio posuere, rhoncus quam vitae, commodo
                                neque. Nunc mollis velit vulputate, volutpat diam vitae, egestas turpis. In posuere
                                tempor lorem, sit amet pulvinar nunc accumsan a. Quisque sem tellus, congue at eleifend
                                sit amet, consectetur sit amet est. Integer sodales quam quis elit commodo consequat.
                                Aenean posuere augue a justo gravida elementum laoreet tincidunt enim. Nullam sagittis
                                mauris id dui scelerisque, eget dignissim est hendrerit. Praesent fringilla commodo
                                egestas. Suspendisse bibendum purus vitae mi mattis laoreet.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>

<app-mission></app-mission>

<app-our-services></app-our-services>

<app-testimonials></app-testimonials>

<app-our-agents></app-our-agents>

<app-clients></app-clients>

<app-get-in-touch></app-get-in-touch>
