<div class="p-3" *ngLet="isSubmitted$ | async as isSubmitted">
    <div class="theme-container">
        <div fxLayout="row" fxLayoutAlign="center center" class="my-3">
            <mat-card [style.max-width.px]="500">
                <ng-container *ngIf="!isSubmitted; else form_submitted">
                    <div fxLayout="column" fxLayoutAlign="center center" class="text-center">
                        <h1 class="uppercase">{{ 'resetPassword' | translate }}</h1>
                    </div>
                    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitForgotPassword()">
                        <mat-form-field appearance="outline" class="w-full mt-2">
                            <mat-icon matPrefix class="mr-1 text-muted">person</mat-icon>
                            <mat-label>{{ 'email' | translate }}</mat-label>
                            <input matInput placeholder="Email" formControlName="email" required />
                            <mat-error *ngIf="forgotControls.email.errors?.required">{{
                                'errorInputIsRequired' | translate
                            }}</mat-error>
                            <mat-error *ngIf="forgotControls.email.hasError('email')">{{
                                'errorInputFormatIsIncorrect' | translate: { input: 'Email' }
                            }}</mat-error>
                        </mat-form-field>

                        <div class="text-center mt-2">
                            <button mat-raised-button color="accent" class="uppercase" type="submit">
                                {{ 'resetPassword' | translate }}
                            </button>
                        </div>
                    </form>
                </ng-container>
                <ng-template #form_submitted>
                    <div fxLayout="column" fxLayoutAlign="center center" class="pt-10 text-center">
                        <button mat-fab color="primary">
                            <mat-icon>check</mat-icon>
                        </button>
                        <div class="mt-3 uppercase text-2xl font-sans">{{ 'resetPassword' | translate }}</div>
                        <p class="text-muted" [innerHTML]="'forgotPasswordSubmitted' | translate"></p>
                        <div class="text-center mt-2">
                            <button mat-button [routerLink]="routePaths.login">
                                <mat-icon class="text-muted">lock</mat-icon>
                                <span class="mx-1">{{ 'backToLogin' | translate }}</span>
                            </button>
                        </div>
                    </div>
                </ng-template>
            </mat-card>
        </div>
    </div>
</div>
