<app-header-image
    [backgroundImage]="'assets/images/carousel/slide-3.jpg'"
    [bgImageAnimate]="false"
    [contentOffsetToTop]="false"
    [desc]="'“Home is where one starts from...” –T.S. Eliot'"
    [contentMinHeight]="200"
>
</app-header-image>

<div class="px-6">
    <div class="theme-container mt-6" fxLayout="row">
        <div fxFlex="30" fxHide.lt-md="true">
            <div class="mr-5">
                <ng-container *ngTemplateOutlet="rightSidenavRef"></ng-container>
            </div>
        </div>
        <div fxFlex="70" fxFlex.lt-md="100">
            <div fxLayout="row wrap" class="properties-wrapper mt-0">
                <div fxFlex="100" class="px-2 pb-2 pt-0">
                    <app-properties-toolbar
                        (sidenavToggle)="sidenavService.open(rightSidenavRef)"
                        (pageSizeChange)="changePageSize($event)"
                        (sortOptionChange)="changeSortOption($event)"
                    >
                    </app-properties-toolbar>
                </div>

                <div fxLayout="row" fxLayout.lt-md="column" fxFlex="100" fxLayoutAlign="start start" class="p-2">
                    <mat-chip-list class="mr-2">
                        <mat-chip selected disableRipple="true" color="warn" class="uppercase whitespace-no-wrap">
                            {{ 'totalProperties' | translate: { total: totalProperties$ | async } }}
                        </mat-chip>
                    </mat-chip-list>

                    <app-properties-search-results-filters
                        [searchCriteria]="searchCriteria"
                        (searchFieldsRemove)="removeSearchFields($event)"
                    >
                    </app-properties-search-results-filters>
                </div>
                <ng-container *ngLet="properties$ | async as properties">
                    <ng-container *ngIf="properties && properties.length > 0">
                        <div
                            *ngFor="let property of properties"
                            fxFlex="33.33"
                            fxFlex.lt-md="50"
                            fxFlex.lt-sm="100"
                            class="item"
                        >
                            <app-property-item [property]="property"></app-property-item>
                        </div>
                    </ng-container>

                    <div
                        *ngIf="properties?.length === 0"
                        fxFlex="100"
                        fxLayoutAlign="center center"
                        [style.min-height.px]="200"
                        class="mt-6"
                    >
                        <p class="text-muted">{{ 'noResultFound' | translate }}</p>
                    </div>

                    <div *ngIf="properties?.length > 0" fxFlex="100" fxLayoutAlign="center center" class="p-2">
                        <mat-paginator
                            [pageIndex]="currentPage$ | async"
                            [length]="totalProperties$ | async"
                            [pageSize]="pageSize$ | async"
                            (page)="changePage($event)"
                            class="w-full mat-elevation-z1"
                        >
                        </mat-paginator>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
</div>

<app-clients></app-clients>

<app-get-in-touch></app-get-in-touch>

<ng-template #rightSidenavRef>
    <mat-card>
        <button fxHide="false" fxHide.gt-xs mat-icon-button (click)="sidenavService.close()">
            <mat-icon color="accent">close</mat-icon>
        </button>
        <app-properties-search
            alignment="vertical"
            [initialSearchCriteria]="routeSearchCriteria$"
            [removedSearchField]="removedSearchField"
            (searchClick)="searchClicked($event)"
        >
        </app-properties-search>
    </mat-card>
</ng-template>
